/* ------------------------------------- 
	Common styles 
	------------------------------------- */
.main-wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	.page
		flex: 1
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.main-wrapper
		display: block

body.noscroll
	overflow: hidden

.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

@media (min-width: 576px)
	.container
		max-width: 540px

@media (min-width: 768px)
	.container
		max-width: 758px

@media (min-width: 992px)
	.container
		max-width: 960px

@media (min-width: 1200px)
	.container
		max-width: 1170px

.col-full
	box-sizing: border-box
	@extend .container
	padding-right: 15px !important
	padding-left: 15px !important



.flex
	display: flex
	flex-wrap: wrap

	
.img
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

.text-center
	text-align: center

.tt-uppercase
	text-transform: uppercase

.list
	margin: 0
	padding: 0
	list-style: none

.color-2
	color: $color2

.text-link
	color: $accent
	text-decoration: underline
	&:hover
		text-decoration: none

.section
	margin: 45px 0
	padding: 35px 0
	&--nopadding
		padding: 0
	&__row
		margin: 0 -15px
	&__col
		width: 50%
		padding: 0 15px
	&__content
		padding-right: 40px
	@include max-screen($lg)
		&__row
			display: block
			margin: 0
		&__col
			width: 100%
			padding: 0
		&__content
			padding-right: 0
		&__img
			margin: 30px 0
	@include max-screen($md)
		margin: 20px 0
		padding: 30px 0

.color-accent
	color: $accent
.color-2
	color: $color2


@include min-screen(992px)
	.show-lg
		display: none !important

@include max-screen($lg)
	.hide-lg
		display: none !important

@include max-screen($xl)
	.hide-xl
		display: none !important

/* ---------- Titles & text ---------- */
h1, .title-1
	margin-bottom: 1em
	font-size: 24px
.title-1
	margin-bottom: .6em
	font-weight: 600
h2
	margin-bottom: 1.5em
	font-size: 18px
	line-height: 1.3
h3
	margin-bottom: 2em
	font-size: 14px
h4
	margin-bottom: 2em
	font-size: 12px


.section-title
	margin-bottom: 1.5em
	font-size: 30px
	font-weight: 300
	line-height: 0.8
	text-transform: uppercase
	color: #603105
	text-align: center

.text
	font-size: 14px
	line-height: 1.7
	font-weight: 300


/* ----- Кнопки ----- */
.button
	display: inline-flex
	align-items: center
	justify-content: center
	width: 100%
	height: 40px
	font-size: 12px
	line-height: 1
	color: $accent
	position: relative
	z-index: 1
	cursor: pointer
	overflow: hidden
	background: $white
	border: 1px solid $accent
	border-radius: 30px
	&::after
		content: '\f105'
		display: block
		height: 1em
		font: 16px/1 'Font Awesome 5 Free'
		position: absolute
		right: 10%
		color: $color2
	&:hover
		color: $accent

	@include trs(.1s)

	&--white
		border-color: $white
		color: $black

	&--color
		background: $accent
		color: $white
		&::after
			color: $white
		&:hover
			background: $white
			color: $accent



// @include max-screen($xl)