@charset "UTF-8";
/* -------------------------------------
	Font face
	------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------------
	Libs
	------------------------------------- */
/* ----- slick-slider.css----- */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------
	Reset
	------------------------------------- */
article, aside, dialog, figcaption, figure, footer, header, main, nav, section, details, menu {
  display: block;
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  font: 16px/1.3 "Montserrat", sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: .5em;
  text-transform: uppercase;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 2em;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

a:hover {
  color: inherit;
}

a:focus {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

figure {
  margin: 0 0 1rem;
}

img {
  font-size: 10px;
  text-transform: uppercase;
  color: #764737;
  vertical-align: middle;
  border-style: none;
}

img::-moz-selection {
  background: none;
}

img::selection {
  background: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #000;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  -webkit-appearance: listbox;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

[role="button"] {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

a:focus, input:focus, textarea:focus, button:focus {
  outline: none !important;
}

.slick-arrow {
  font-size: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  position: absolute;
  top: 50%;
  margin-top: -2.5em;
  z-index: 1;
}

.slick-arrow::before {
  content: '';
  display: block;
  width: 2.2em;
  height: 2.2em;
  border-top: .4em solid currentColor;
  border-right: .4em solid currentColor;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.slick-arrow.slick-disabled {
  opacity: 0.5;
  cursor: default;
}

.slick-prev {
  left: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slick-prev::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  right: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slick-next::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 575px) {
  .slick-arrow {
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
  }
  .slick-arrow::before {
    font-size: 5px;
  }
  .slick-prev {
    left: 4px;
  }
  .slick-next {
    right: 4px;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.slick-dots li {
  margin: 0 4px !important;
  padding-left: 0 !important;
}

.slick-dots li::before {
  display: none !important;
}

.slick-dots button {
  font-size: 0;
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #764737;
  background: #fff;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.slick-dots .slick-active button {
  background: #764737;
  border-color: #fff;
}

@media screen and (max-width: 767px) {
  .slick-dots {
    margin-top: 25px;
  }
  .slick-dots li {
    margin: 0 10px important;
  }
  .slick-dots button {
    width: 12px;
    height: 12px;
  }
}

.slick-slide {
  outline: none;
}

/* -------------------------------------
	Common styles
	------------------------------------- */
.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-wrapper .page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper {
    display: block;
  }
}

body.noscroll {
  overflow: hidden;
}

.container, .col-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .col-full {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .col-full {
    max-width: 758px;
  }
}

@media (min-width: 992px) {
  .container, .col-full {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .col-full {
    max-width: 1170px;
  }
}

.col-full {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.tt-uppercase {
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color-2 {
  color: #b9b9b9;
}

.text-link {
  color: #764737;
  text-decoration: underline;
}

.text-link:hover {
  text-decoration: none;
}

.section {
  margin: 45px 0;
  padding: 35px 0;
}

.section--nopadding {
  padding: 0;
}

.section__row {
  margin: 0 -15px;
}

.section__col {
  width: 50%;
  padding: 0 15px;
}

.section__content {
  padding-right: 40px;
}

@media screen and (max-width: 991px) {
  .section__row {
    display: block;
    margin: 0;
  }
  .section__col {
    width: 100%;
    padding: 0;
  }
  .section__content {
    padding-right: 0;
  }
  .section__img {
    margin: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin: 20px 0;
    padding: 30px 0;
  }
}

.color-accent {
  color: #764737;
}

.color-2 {
  color: #b9b9b9;
}

@media screen and (min-width: 992px) {
  .show-lg {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .hide-lg {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .hide-xl {
    display: none !important;
  }
}

/* ---------- Titles & text ---------- */
h1, .title-1 {
  margin-bottom: 1em;
  font-size: 24px;
}

.title-1 {
  margin-bottom: .6em;
  font-weight: 600;
}

h2 {
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: 1.3;
}

h3 {
  margin-bottom: 2em;
  font-size: 14px;
}

h4 {
  margin-bottom: 2em;
  font-size: 12px;
}

.section-title {
  margin-bottom: 1.5em;
  font-size: 30px;
  font-weight: 300;
  line-height: 0.8;
  text-transform: uppercase;
  color: #603105;
  text-align: center;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
}

/* ----- Кнопки ----- */
.button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1;
  color: #764737;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  border: 1px solid #764737;
  border-radius: 30px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.button::after {
  content: '\f105';
  display: block;
  height: 1em;
  font: 16px/1 'Font Awesome 5 Free';
  position: absolute;
  right: 10%;
  color: #b9b9b9;
}

.button:hover {
  color: #764737;
}

.button--white {
  border-color: #fff;
  color: #000;
}

.button--color {
  background: #764737;
  color: #fff;
}

.button--color::after {
  color: #fff;
}

.button--color:hover {
  background: #fff;
  color: #764737;
}

/* -------------------------------------
	Modules
	------------------------------------- */
/* ----- Forms ----- */
*::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
*::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body input:focus:required:invalid, body textarea:focus:required:invalid,
body input:required:valid, body textarea:required:valid {
  color: #000;
}

.input {
  display: block;
  width: 100%;
  min-width: 1px;
  height: 45px;
  padding: 16px 15px 14px 15px;
  background-color: #eee;
  border: 1px solid #f4f4f4;
  font-size: 14px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.input:focus {
  outline: none;
}

/* -------------------------------------
	Sections
	------------------------------------- */
/* ----- header ----- */
.site-header {
  padding: 40px 0 20px;
  background: #fff;
  color: #000;
}

.site-header .col-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .site-search {
  margin: 0 0 0 12%;
  width: 360px !important;
}

.site-header .site-search .widget_product_search form::before {
  left: auto;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #262524;
  opacity: .75;
}

.site-header .search-field {
  height: 36px;
  border: 1px solid #eaeaea;
  border-radius: 30px;
  background-color: #fff !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #acacac;
  padding: 10px 34px 10px 15px !important;
  font-size: 12px;
  font-weight: 300;
}

.site-header .site-tel {
  margin-left: auto;
}

.site-header .site-header-cart {
  margin-left: auto;
}

.site-header .site-header-favourite {
  margin-left: 1em;
}

.logo a {
  display: block;
}

.site-tel {
  font-size: 24px;
  font-weight: 600;
}

.site-tel i {
  margin-right: 0.5em;
  color: #b9b9b9;
}

.storefront-primary-navigation {
  margin-top: 30px;
}

.primary-navigation {
  display: block !important;
}

.main-navigation {
  font-size: 14px;
}

.main-navigation a {
  font-weight: 300;
}

.main-navigation ul li {
  position: static;
}

.main-navigation ul li a:hover {
  color: #b9b9b9;
}

.main-navigation ul ul a {
  padding: 8px 20px !important;
  border-radius: 30px;
}

.main-navigation ul ul a:hover {
  background: #f4f4f4;
}

.main-navigation .nav-menu > li {
  position: relative;
}

.main-navigation .nav-menu > li > a {
  padding: 10px 1em !important;
}

.main-navigation .nav-menu > .active::before {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 0;
  z-index: 0;
  background: #764737;
}

@media screen and (max-width: 767px) {
  .main-navigation .nav-menu > .active > a, .main-navigation .nav-menu > .active > span {
    color: #764737;
  }
  .main-navigation .nav-menu > .active::before {
    display: none;
  }
}

.sublist {
  top: -webkit-calc(100% + 18px) !important;
  top: calc(100% + 18px) !important;
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sublist::before {
  content: '';
  display: block;
  width: 100%;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 100%;
  z-index: 0;
}

.sublist li {
  padding: 0 20px;
}

.sublist .--with-sublist > a, .sublist .--with-sublist > span {
  padding-right: 40px !important;
  position: relative;
}

.sublist .--with-sublist > a::after, .sublist .--with-sublist > span::after {
  content: '\f105';
  display: block;
  position: absolute;
  right: 20px;
  top: 8px;
  height: 1em;
  font: 16px/1 'Font Awesome 5 Free';
  opacity: 0.7;
  color: #b9b9b9;
}

.sublist a {
  width: 222px !important;
}

.sublist .sublist {
  height: 100%;
  top: 0 !important;
}

.sublist .sublist li {
  padding-left: 0;
}

.sublist .sublist a {
  display: inline-block !important;
  white-space: nowrap;
  width: auto !important;
  color: #b9b9b9;
}

.sublist-arrow {
  display: none;
  position: absolute;
  right: 20px;
  top: 8px;
  z-index: 1;
}

.sublist-arrow::after {
  content: '\f105';
  display: block;
  height: 1em;
  font: 16px/1 'Font Awesome 5 Free';
  opacity: 0.7;
  color: #b9b9b9;
}

button.menu-toggle {
  color: #000 !important;
  border-color: #000;
}

button.menu-toggle span::before, button.menu-toggle::before, button.menu-toggle::after {
  background-color: #000;
}

.site-header-cart {
  width: auto !important;
  font-size: 12px;
  color: #7c7c7c;
}

.site-header-cart .amount {
  font-weight: 600;
  padding-right: 5px;
  margin-right: 5px !important;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
}

.site-header-cart .count {
  font-size: 1em !important;
  opacity: 1 !important;
}

.site-header-cart .cart-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 0 0 0 20px !important;
  background-color: #f4f4f4;
}

.site-header-cart .cart-contents::after {
  content: '\f07a';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 11px;
  font-size: 16px;
  background: #764737;
  border-radius: 50%;
  color: #fff;
}

.site-header-favourite {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background: #764737;
  border-radius: 50%;
  color: #fff !important;
}

.favourite-ic {
  display: inline-block;
  height: 1em;
}

.favourite-ic::before {
  content: '\f004';
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.main-navigation .site-tel {
  display: none;
}

.site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
  margin: 5px 0 0;
  padding-left: 20px;
}

.widget_shopping_cart {
  background: #fff;
}

.widget_shopping_cart .variation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.widget_shopping_cart .variation dt {
  margin-right: 10px;
}

.widget_shopping_cart .variation dd {
  margin: 0;
}

.widget_shopping_cart .button {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 36px;
  padding: 5px;
  font-size: 11px;
}

.widget_shopping_cart .button::after {
  display: none;
}

.widget_shopping_cart .amount {
  border-right: none;
}

@media screen and (max-width: 1199px) {
  .site-header {
    padding: 20px 0;
  }
  .storefront-primary-navigation {
    margin-top: 15px;
  }
  .main-navigation {
    width: 100% !important;
  }
  .site-header .site-search, .site-header .site-header-cart, .site-header .site-header-favourite {
    display: none !important;
  }
  .site-tel {
    font-size: 20px;
  }
  .main-navigation ul ul, .main-navigation ul li:hover > ul, .main-navigation ul li:hover > ul li:hover > ul {
    display: none;
    left: 0;
  }
  .main-navigation .nav-menu > .--with-sublist > a, .main-navigation .nav-menu > .--with-sublist > span {
    padding-right: 40px !important;
  }
  .main-navigation .nav-menu > .--with-sublist::before {
    display: none;
  }
  .--with-sublist {
    position: relative !important;
  }
  .--with-sublist > a, .--with-sublist > span {
    padding-right: 40px !important;
  }
  .--with-sublist > a::after, .--with-sublist > span::after {
    display: none !important;
  }
  .sublist::before {
    display: none !important;
  }
  .sublist .sublist {
    height: auto;
    left: 100% !important;
    top: -15px !important;
  }
  .sublist .sublist-arrow {
    top: 2px;
    right: 24px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .sublist li > a, .sublist li > span {
    background: none !important;
  }
  .sublist .--with-sublist.active > a, .sublist .--with-sublist.active > span {
    background-color: rgba(0, 0, 0, 0.025) !important;
  }
  .sublist .--with-sublist.active > .sublist-arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .sublist-arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 4px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .--with-sublist.toggled > .sublist-arrow {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (max-width: 991px) {
  .main-navigation {
    font-size: 12px;
  }
  .sublist-arrow {
    top: 3px;
  }
  .sublist .sublist-arrow {
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .storefront-primary-navigation {
    margin-top: 0;
  }
  .main-navigation {
    font-size: 14px;
  }
  .site-tel {
    font-size: 16px;
  }
  .site-header .site-tel {
    display: none;
  }
  .menu-toggle {
    position: absolute !important;
    top: 24px;
    right: 116px;
  }
  .main-navigation .nav-menu {
    -webkit-transition-duration: .2s !important;
         -o-transition-duration: .2s !important;
            transition-duration: .2s !important;
  }
  .main-navigation .nav-menu > li:first-child {
    margin-top: 10px;
  }
  .main-navigation .nav-menu > .--with-sublist.toggled > a, .main-navigation .nav-menu > .--with-sublist.toggled > span {
    font-weight: 600;
    color: #764737;
  }
  .main-navigation .site-tel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1em;
  }
  .main-navigation .site-tel i {
    margin-right: -.5em;
  }
  .main-navigation .site-tel a {
    font-weight: 400;
  }
  .sublist {
    padding: 0;
  }
  .sublist li {
    padding: 0;
  }
  .sublist a {
    width: 100% !important;
  }
  .sublist .sublist-arrow {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    right: 4px;
    top: 3px;
  }
  .sublist .--with-sublist.toggled > .sublist-arrow {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (max-width: 767px) and (max-width: 575px) {
  .menu-toggle {
    right: 15px;
  }
}

/* ----- footer ----- */
.site-footer {
  padding: 42px 0 0;
  background: #2d2b29 url("../img/footer-texture.png");
  font-size: 12px;
  color: #bcbcbc;
}

.site-footer__row {
  margin: 0 -15px;
}

.site-footer__col {
  padding: 0 15px;
  width: 25%;
  margin-bottom: 30px;
}

.site-footer__title {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 600;
}

.site-footer__list li:not(:last-child) {
  margin-bottom: .7em;
}

.site-footer a {
  color: inherit;
  text-decoration: none;
}

.site-footer__link:hover {
  color: #764737;
}

.site-footer__link::before {
  content: '\f105';
  display: inline-block;
  height: 1em;
  font: 14px/1 'Font Awesome 5 Free';
  margin-right: 6px;
  opacity: 0.2;
  color: #bcbcbc;
}

.site-footer .site-tel {
  margin-bottom: 30px;
  font-size: 12px;
}

.site-footer .site-tel i {
  font-size: 16px;
  margin-right: 0.8em;
}

.site-footer .site-address {
  margin-bottom: 24px;
}

.site-footer .social-links {
  margin-top: 20px;
}

.copy {
  margin-top: 20px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.05);
  color: #525252;
}

.site-address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 2;
}

.site-address i {
  font-size: 18px;
  margin: .1em .7em 0 .1em;
}

.site-email {
  color: #764737;
}

.site-email i {
  font-size: 16px;
  margin: .2em .6em 0 .1em;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  background: #764737;
  border-radius: 50%;
  margin-right: 7px;
  font-size: 16px;
}

.social-link i {
  color: #2d2b29;
}

@media screen and (max-width: 1199px) {
  .site-footer {
    padding-bottom: 62px;
  }
}

@media screen and (max-width: 991px) {
  .site-footer__col {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .site-footer__row {
    display: block;
    margin: 0;
  }
  .site-footer__col {
    width: 100%;
    padding: 0;
  }
  .site-footer__title {
    margin-bottom: 15px;
  }
  .site-footer .site-tel, .site-footer .site-address {
    margin-bottom: 15px;
  }
}

.storefront-handheld-footer-bar {
  background: #fff;
}

.storefront-handheld-footer-bar a {
  font-size: 14px;
  color: #7c7c7c;
}

.storefront-handheld-footer-bar ul li.search .site-search {
  visibility: hidden;
  opacity: 0;
}

.storefront-handheld-footer-bar ul li.search.active .site-search {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .storefront-handheld-footer-bar {
    display: block !important;
  }
  .storefront-handheld-footer-bar ul li.cart > a::before {
    content: '\f07a';
  }
  .storefront-handheld-footer-bar ul li.cart .count {
    background: #764737;
    color: #fff;
    border: none;
  }
}

.scroll-up {
  position: fixed;
  right: 5%;
  bottom: 15%;
  cursor: pointer;
  z-index: 999;
}

.scroll-up__ic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ddd;
  border-radius: 50%;
}

.scroll-up__ic::before {
  content: '\f062';
  display: block;
  height: 1em;
  font: 24px/1 'Font Awesome 5 Free';
  opacity: 0.7;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.scroll-up:hover .scroll-up__ic::before {
  opacity: 0.9;
}

/* -------------------------------------
	Pages
	------------------------------------- */
/* ----- Page ----- */
.page-top {
  padding: 30px 0;
  background-color: #f6f6f6;
}

.page-top h1 {
  text-transform: none;
}

.page-top + .section {
  padding-top: 0;
}

@media screen and (max-width: 575px) {
  .page-top {
    padding: 20px 0;
  }
  .page-top h1, .page-top .title-1 {
    margin-bottom: .5em;
  }
}

.storefront-breadcrumb {
  margin: 0;
  padding: 0;
}

.woocommerce-breadcrumb {
  font-size: 14px;
  color: #764737;
}

@media screen and (max-width: 767px) {
  .woocommerce-breadcrumb {
    font-size: 12px;
  }
}

.woocommerce-breadcrumb a {
  color: #b9b9b9;
  text-decoration: none;
}

.woocommerce-breadcrumb a:first-of-type::before {
  font-size: 14px;
}

.woocommerce-breadcrumb .breadcrumb-separator {
  padding: 0 .8em;
}

.page-content {
  font-size: 14px;
}

.page-content .section {
  margin: 0;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  text-transform: uppercase;
  clear: none;
}

.page-content p + h2, .page-content ul + h2, .page-content ol + h2, .page-content table + h2, .page-content blockquote + h2, .page-content form + h2 {
  margin-top: 4em;
}

.page-content p {
  line-height: 1.7;
  font-weight: 300;
}

.page-content a {
  color: #764737;
  text-decoration: underline;
}

.page-content a:hover {
  text-decoration: none;
}

.page-content ul, .page-content ol {
  margin-left: 0;
  list-style: none;
  color: #b9b9b9;
}

.page-content ul li, .page-content ol li {
  position: relative;
  padding-left: 40px;
}

.page-content ul li:not(:last-child), .page-content ol li:not(:last-child) {
  margin-bottom: 1.2em;
}

@media screen and (max-width: 767px) {
  .page-content ul li, .page-content ol li {
    padding-left: 30px;
  }
}

.page-content ul li::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: .4em;
  top: .5em;
  background: #764737;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 2px #764737;
          box-shadow: 0 0 0 2px #764737;
}

.page-content ol {
  counter-reset: li;
}

.page-content ol li::before {
  counter-increment: li;
  content: counter(li) ".";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  color: #764737;
}

.page-content blockquote {
  max-width: 650px;
  padding-left: 30px;
  border-left: 5px solid #764737;
  background-image: 1.7em;
  color: #b9b9b9;
}

/* ----- Mainpage ----- */
.hero {
  position: relative;
  overflow: hidden;
}

.hero-slider .slick-list {
  overflow: visible;
}

.hero-slider .slick-arrow {
  color: #d5d5d5;
}

.hero-slider .slick-prev {
  left: 50px;
}

.hero-slider .slick-next {
  right: 50px;
}

.hero-slider .slick-dots {
  position: absolute;
  width: 100%;
  bottom: 5vh;
}

.hero-slider.slick-initialized .hero-slide {
  opacity: 1;
}

.hero-slide {
  opacity: 0;
  height: 614px;
  padding-top: 15vh;
  position: relative;
  z-index: 1;
  text-align: center;
}

.hero-slide::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #3a2817;
  opacity: 0.5;
}

.hero-title {
  display: inline-block;
  font-size: 48px;
  margin-bottom: .7em;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  max-width: 9em;
  text-transform: none;
}

.hero-subtitle {
  margin-bottom: 3.8em;
  font-size: 18px;
  font-weight: 300;
  color: #ff7d00;
  font-style: italic;
}

.hero .button {
  max-width: 263px;
  height: 60px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.hero-img {
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .hero-slide {
    height: 490px;
  }
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero .button {
    max-width: 225px;
    height: 50px;
  }
}

@media screen and (max-width: 575px) {
  .hero .container, .hero .col-full {
    padding-left: 0;
    padding-right: 0;
  }
  .hero-slider .slick-prev {
    left: 15px;
  }
  .hero-slider .slick-next {
    right: 15px;
  }
  .hero-title {
    font-size: 36px;
  }
  .hero-subtitle {
    font-size: 16px;
  }
}

.catalog-slider__slide:hover .catalog-slider__img {
  border-color: #764737;
}

.catalog-slider__slide:hover .catalog-slider__title a {
  color: #b9b9b9;
  text-decoration: none;
}

.catalog-slider__img {
  width: 172px;
  height: 172px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #b9b9b9;
  -webkit-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
}

.catalog-slider__img a {
  display: block;
  height: 100%;
  width: 100%;
}

.catalog-slider__img .img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-slider__title {
  margin-top: 1em;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.catalog-slider__title a {
  color: #915113;
  text-decoration: none;
}

.catalog-slider__list {
  max-width: 166px;
  font-size: 12px;
  text-align: center;
  margin: 1.5em auto 0;
}

.catalog-slider__list li:not(:last-child) {
  margin-bottom: .2em;
}

.catalog-slider__list a {
  display: block;
  padding: 7px 15px;
  border-radius: 30px;
}

.catalog-slider__list a:hover {
  background-color: #f6f6f6;
  color: #b9b9b9;
}

.main-catalog__slider {
  padding: 0 80px;
}

.main-catalog__slider .slick-arrow {
  font-size: 8px;
  color: #d4d4d4;
  top: 41%;
}

.main-catalog__slider .slick-prev {
  left: 30px;
}

.main-catalog__slider .slick-next {
  right: 30px;
}

@media screen and (max-width: 1199px) {
  .main-catalog__slider {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main-catalog__slider .slick-prev {
    left: 0;
  }
  .main-catalog__slider .slick-next {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .main-catalog__slider {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 575px) {
  .main-catalog__slider {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.advantages {
  position: relative;
  background: url("../img/bg-whywe.jpg") no-repeat 50% 75%;
  z-index: 1;
  color: #fff;
}

.advantages::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #3a2817;
  opacity: 0.9;
}

.advantages .section-title {
  color: inherit;
}

.advantages__row {
  margin: 0 -15px;
}

.advantages__col {
  width: 20%;
  margin-bottom: 30px;
  padding: 0 15px;
}

.advantages__item {
  height: 100%;
  padding: 50px 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.advantages__ic {
  width: 48px;
  margin: 0 auto 20px;
}

.advantages__name {
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .advantages__col {
    width: 33.33333%;
  }
}

@media screen and (max-width: 767px) {
  .advantages__col {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .advantages__item {
    padding: 30px 5px;
  }
}

.how__inner {
  padding: 50px 100px 20px;
  background: #f9f9f9;
}

.how__row {
  margin: 0 -22px;
}

.how__col {
  width: 20%;
  margin-bottom: 30px;
  padding: 0 22px;
}

.how__col:last-child .how__item::after {
  display: none;
}

.how__item {
  position: relative;
}

.how__item::after {
  content: '';
  display: block;
  font-size: 10px;
  width: 2.4em;
  height: 1.8em;
  background: url("../img/arrow-right.png") no-repeat 50% 50%/contain;
  position: absolute;
  right: 30px;
  top: 15px;
}

.how__ic {
  width: 53px;
  margin-bottom: 20px;
}

.how__txt {
  font-size: 11px;
  color: #764737;
}

@media screen and (max-width: 1199px) {
  .how__inner {
    padding: 30px 50px 20px;
  }
}

@media screen and (max-width: 991px) {
  .how__col {
    width: 33.33333%;
  }
  .how__item::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .how__col {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .how__inner {
    padding: 0 15px;
    background: none;
  }
  .how__row {
    display: block;
    margin: 0;
  }
  .how__col {
    width: 100%;
    padding: 0;
  }
  .how__item {
    text-align: center;
  }
  .how__item::after {
    display: block;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    position: static;
    margin: 30px auto;
  }
  .how__ic {
    margin-left: auto;
    margin-right: auto;
  }
  .how__txt {
    font-size: 12px;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__title {
  margin-bottom: 35px;
}

.about__title .title-1 {
  margin-bottom: 0.1em;
}

.about .button {
  max-width: 165px;
}

/* ----- catalog ----- */
/* ----- category ----- */
.category__img {
  width: 360px;
}

.category__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  max-width: 100%;
  padding-right: 50px;
}

@media screen and (max-width: 991px) {
  .category__row {
    display: block;
  }
  .category__col {
    padding-right: 0;
  }
  .category__img {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 0;
  }
}

.category-catalog__slider {
  width: -webkit-calc(100% + 22px);
  width: calc(100% + 22px);
  margin-left: -11px;
}

.category-catalog__slider .slick-arrow {
  font-size: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 2px solid #764737;
  border-radius: 4px;
  color: #764737;
  top: 88px;
}

.category-catalog__slider .slick-prev {
  left: 25px;
}

.category-catalog__slider .slick-prev::before {
  margin-left: 5px;
}

.category-catalog__slider .slick-next {
  right: 25px;
}

.category-catalog__slider .slick-next::before {
  margin-right: 5px;
}

@media screen and (max-width: 575px) {
  .category-catalog__slider .slick-arrow {
    font-size: 10px;
  }
  .category-catalog__slider .slick-prev {
    left: 10px;
  }
  .category-catalog__slider .slick-next {
    right: 10px;
  }
}

.storefront-sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
  width: 100%;
}

.storefront-sorting .woocommerce-ordering, .storefront-sorting .woocommerce-pagination {
  float: none;
}

.storefront-sorting .woocommerce-pagination {
  margin-left: auto;
}

.woocommerce-ordering {
  width: 262px;
  height: 40px;
  border: 1px solid #ececec;
  border-radius: 30px;
  padding: 0 10px 0 0;
  margin: 0;
  background-color: #fff;
}

.orderby {
  width: 100% !important;
  padding: 11px 22px;
  border: none;
  background: none;
  font-size: 12px;
  color: #b9b9b9;
  cursor: pointer;
}

.orderby option {
  padding: 5px;
}

.orderby:focus {
  outline: none;
}

.pagination, .woocommerce-pagination {
  padding: 0;
  border: none;
}

.woocommerce-pagination .prev, .woocommerce-pagination .next {
  color: #b9b9b9 !important;
  font-size: 14px !important;
}

.woocommerce-pagination .prev::after {
  content: '\f104';
}

.woocommerce-pagination .next::after {
  content: '\f105';
}

.pagination .page-numbers li .page-numbers, .woocommerce-pagination .page-numbers li .page-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ececec !important;
  font-size: 12px;
  color: #7a7a7a;
}

.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: #f6f6f6;
  color: #764737;
}

.filter-button {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 262px;
  height: 40px;
  padding: 11px 32px 11px 22px;
  border: 1px solid #ececec;
  background-color: #f6f6f6;
  color: #7a7a7a;
  font-weight: 400;
}

.filter-button::after {
  content: '';
  display: block;
  width: 12px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -5px;
  background: url("../img/ic-filter.png") no-repeat 50% 50%/100%;
}

.filter-button:hover {
  color: #7a7a7a;
  background: #ececec;
}

.storefront-sorting .filter-button {
  margin-left: 30px;
}

.site-content {
  padding-top: 50px;
}

.site-content > .col-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-content .content-area {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  max-width: 100%;
  margin-right: 0;
}

.site-main .storefront-sorting {
  margin: 12px 0 0;
}

.site-main ul.products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.site-main ul.products::after, .site-main ul.products::before {
  display: none;
}

.site-main ul.products li.product {
  width: 262px !important;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border: 1px solid #ececec;
  float: none !important;
}

.site-main ul.products.columns-4 li.product {
  margin-right: 30px;
}

.site-main ul.products.columns-4 li.product:nth-child(4n) {
  margin-right: 0;
}

.site-main ul.products.columns-3 li.product {
  margin-right: 30px;
}

.site-main ul.products.columns-3 li.product:nth-child(3n) {
  margin-right: 0;
}

.site-main ul.products img {
  margin-bottom: 22px !important;
  width: 100%;
  height: 196px;
  -o-object-fit: cover;
     object-fit: cover;
}

.site-main ul.products .woocommerce-loop-product__title {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: none;
  padding: 0 40px;
}

.site-main ul.products .onsale {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 7px 20px;
  font-size: 11px;
  font-weight: 300;
  text-transform: none;
  border-color: #ffae00;
  background-color: #ffae00;
  border-radius: 30px;
  color: #fff;
}

.site-main ul.products .price {
  min-height: 55px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2.2rem;
  text-align: center;
}

.site-main ul.products .price > * {
  display: block;
}

.site-main ul.products .price del bdi {
  font-size: 12px;
  color: #b9b9b9;
}

.site-main ul.products .price ins, .site-main ul.products .price bdi {
  font-size: 18px;
  margin-left: 0 !important;
  color: #764737;
}

.site-main ul.products .site-header-favourite {
  position: absolute;
  right: 16px;
  top: 148px;
  border: 1px solid #fff;
}

.site-main ul.products .button {
  max-width: 165px;
  background: #764737;
  color: #fff;
}

.site-main ul.products .button::after {
  display: none;
}

.site-main ul.products .button:hover {
  background: #fff;
  color: #764737;
}

.site-main ul.products .button.added {
  border-width: 2px;
  background: #fff;
  color: #764737;
}

.site-main ul.products .button.added::after {
  display: block;
  content: '\f058';
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 20px;
  color: #764737;
  -webkit-transform: translateX(0.5em);
      -ms-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

.site-main ul.products .added_to_cart {
  display: none !important;
}

.widget-area {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 262px;
      -ms-flex: 0 0 262px;
          flex: 0 0 262px;
  max-width: 262px;
  float: none;
  margin-left: 30px;
}

.widget-area .filter-button {
  margin-bottom: 42px;
}

.widget-area .filter-button::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.woof_products_top_panel ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.woof_products_top_panel li {
  max-width: 100%;
  float: none;
}

.woof_products_top_panel li:not(:last-child) {
  margin-bottom: 10px !important;
}

.woof_products_top_panel li a {
  display: block;
  min-width: 165px;
  padding: 9px 18px;
  font-size: 12px;
  line-height: 1;
  background-color: #f6f6f6;
  border-radius: 30px;
  color: #a5a5a5;
  position: relative;
}

.woof_products_top_panel li span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  background: none;
}

.woof_products_top_panel li span::after {
  content: '\f00d';
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 14px;
  color: #b9b9b9;
  opacity: 0.5;
}

.widget-area {
  border: 1px solid #ececec;
  background-color: #fff;
}

.widget-area .widget {
  margin-bottom: 0;
}

.widget-area .widget-title, .widget-area .widgettitle {
  margin-bottom: 0;
  padding: 24px 20px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.widget-area .widget-title span, .widget-area .widgettitle span {
  color: #919191;
  text-transform: none;
}

.widget-area .widget-title::after, .widget-area .widgettitle::after {
  content: '\f105';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 16px;
  color: #b3b3b3;
  position: absolute;
  right: 22px;
  top: 18px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.widget-area .widget-title--noarrow::after, .widget-area .widgettitle--noarrow::after {
  display: none;
}

.widget-area .widget-title.active::after, .widget-area .widgettitle.active::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.widget-area .widget_price_filter {
  padding-top: 60px;
}

.widget-area .widget_price_filter form {
  margin-bottom: 0;
}

.widget-area .price_slider_amount {
  position: relative;
}

.widget-area .price_slider_amount .price_label {
  float: none !important;
}

.widget-area .price_label {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -79px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ececec;
  color: #b9b9b9;
  font-size: 0;
}

.widget-area .price_label span {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 14px;
}

.widget-area .price_slider {
  height: 7px !important;
  border: 1px solid #d2d2d2 !important;
  background-color: #fff !important;
}

.widget-area .price_slider .ui-slider-range {
  height: 7px !important;
  top: -1px !important;
  background: #764737 !important;
}

.widget-area .price_slider .ui-slider-handle {
  width: 21px !important;
  height: 21px !important;
  background: #764737 !important;
  border: 5px solid #fff !important;
  -webkit-box-shadow: 0 0 0 1px #764737, 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px #764737, 0 0 10px rgba(0, 0, 0, 0.25);
}

.widget-area .price_slider .ui-slider-handle:last-child {
  -webkit-transform: translateX(-7px);
      -ms-transform: translateX(-7px);
          transform: translateX(-7px);
}

.widget-area .woof_checkbox_count {
  display: none;
}

.widget-area .woof_list_checkbox li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
}

.widget-area .woof_list_checkbox li:not(:last-child) {
  padding-bottom: 10px !important;
}

.widget-area .woof_checkbox_term {
  display: none;
}

.widget-area .woof_checkbox_term:checked + .woof_checkbox_label::before {
  content: '\f058';
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  color: #764737;
  border-color: transparent;
}

.widget-area .woof_checkbox_label {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  padding: 0;
  font-size: 12px;
  color: #b9b9b9;
}

.widget-area .woof_checkbox_label::before {
  content: '';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18px;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  height: 18px;
  margin-right: 11px;
  border-radius: 50%;
  border: 1px solid #c6c6c6;
  background-color: #fff;
}

.widget-area .woof_container {
  margin: 0;
  padding: 0;
}

.widget-area .woof_container--gray {
  background-color: #f6f6f6;
}

.widget-area .woof_container--gray .filter-more {
  border: 1px solid #f6f6f6;
  background-color: #ececec;
}

.widget-area .woof_container_inner {
  padding: 0 20px 24px;
}

.widget-area .woof_container_inner.--collasped {
  display: none;
}

.widget-area .woof_products_top_panel {
  margin: 24px 0 0;
}

.filter-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 165px;
  margin: 30px auto 0;
  height: 36px;
  font-weight: 400;
  color: #b9b9b9;
  border-color: #ececec;
}

.filter-more::after {
  display: none;
}

@media screen and (max-width: 1199px) {
  .site-main ul.products li.product {
    width: 32% !important;
    margin-right: 2% !important;
  }
  .site-main ul.products li.product:nth-child(3n) {
    margin-right: 0 !important;
  }
  .site-content .widget-area {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    margin-left: 0;
    height: 100%;
    top: 0;
    left: 0;
  }
  .widget-area-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .widget-area-close::after {
    content: '\f00d';
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    right: 3px;
    color: #000;
    opacity: 0.9;
  }
  .site-main ul.products .woocommerce-loop-product__title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .storefront-sorting .filter-button {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .site-main ul.products li.product {
    width: 46% !important;
    margin-right: 4% !important;
  }
  .site-main ul.products li.product:nth-child(2n) {
    margin-right: 0 !important;
  }
  .site-main ul.products li.product:nth-child(3n) {
    margin-right: 4% !important;
  }
  .storefront-sorting {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .storefront-sorting .woocommerce-ordering {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .storefront-sorting .filter-button {
    margin: 0 auto 15px;
  }
  .storefront-sorting .woocommerce-pagination {
    margin-right: auto;
  }
  .site-main .storefront-sorting .woocommerce-ordering {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .site-main ul.products li.product {
    width: 100% !important;
    max-width: 320px;
    margin-right: auto !important;
    margin-left: auto;
  }
  .site-main ul.products li.product:nth-child(2n) {
    margin-right: auto !important;
  }
  .site-main ul.products li.product:nth-child(3n) {
    margin-right: auto !important;
  }
}

/* ----- product ----- */
.product-row {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.woocommerce-product-gallery {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 360px;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 360px;
  margin-right: 127px;
  position: relative;
}

.woocommerce-product-gallery .site-header-favourite {
  position: absolute;
  right: 19px;
  bottom: 135px;
  z-index: 2;
}

.woocommerce-product-gallery .flex-viewport {
  border: 1px solid #ececec;
  border-radius: 4px;
}

.woocommerce-product-gallery__image {
  height: 360px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.woocommerce-product-gallery__image a {
  display: block;
}

.product-slider__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 360px;
}

.product-slider__img a {
  display: block;
}

.flex-control-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px -15px 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav li {
  width: 25%;
  height: 69px;
  padding: 0 15px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.flex-control-nav img {
  display: block;
  max-width: 100%;
  height: 69px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #ececec;
  border-radius: 4px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.flex-control-nav .flex-active {
  border-color: #764737;
}

.product-row .summary {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  max-width: 100%;
}

.product-header {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product-header .product_title {
  margin-right: 15px;
}

.product-header .onsale {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 165px;
  height: 35px;
  margin: 0;
  padding: 10px;
  height: 35px;
  background-color: #ffaf00;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
}

.summary .price .amount {
  margin-right: 15px;
}

.summary .price ins bdi {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
}

.summary .cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.summary .cart .quantity-input {
  max-width: 166px;
  padding: 0 8px;
  height: 45px;
  margin-right: 30px;
  border: 1px solid #ececec;
  border-radius: 30px;
  background-color: #fff;
}

.summary .cart .quantity-input .minus, .summary .cart .quantity-input .plus {
  height: 30px;
  width: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30px;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border: 1px solid #ececec;
  border-radius: 50%;
}

.summary .cart .quantity-input .minus:hover, .summary .cart .quantity-input .plus:hover {
  background: #f6f6f6;
}

.summary .cart .quantity-input .minus i {
  margin-right: 2px;
}

.summary .cart .quantity-input .plus i {
  margin-left: 2px;
}

.summary .cart .button {
  max-width: 165px;
  height: 45px;
  background: #764737;
  border-color: #764737;
  color: #fff;
}

.summary .cart .button:hover {
  background: #fff;
  color: #764737;
}

.summary .cart .button::after {
  display: none;
}

.summary .product_meta {
  margin-bottom: 40px;
  font-size: 14px;
}

.summary .product_meta span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.summary .product_meta b {
  min-width: 100px;
  font-weight: 600;
  padding-right: 15px;
}

.product-property {
  margin-bottom: 30px;
}

.product-property__title {
  margin-bottom: 1em;
  font-size: 14px;
  font-weight: 600;
}

.product-property__select {
  width: 262px;
  height: 40px;
  border: 1px solid #ececec;
  border-radius: 30px;
  padding: 0 10px 0 0;
  margin: 0;
  background-color: #fff;
}

.product-property + .product-property {
  margin-top: -5px;
}

.woocommerce-tabs {
  margin: 70px 0 45px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 0;
}

.woocommerce-tabs ul.tabs, .woocommerce-tabs .panel {
  width: 100%;
  float: none;
}

.woocommerce-tabs ul.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  border: none;
}

.woocommerce-tabs ul.tabs li {
  width: 33.33333%;
  height: 45px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.woocommerce-tabs ul.tabs li:last-child {
  border-right: none;
}

.woocommerce-tabs ul.tabs li.active {
  background-color: #f6f6f6;
  color: #919191;
}

.woocommerce-tabs ul.tabs li.active::after {
  display: none;
}

.woocommerce-Tabs-panel {
  padding: 25px 95px;
  font-size: 14px;
}

.woocommerce-Tabs-panel table {
  margin-bottom: 0;
}

.woocommerce-Tabs-panel table th, .woocommerce-Tabs-panel table td {
  padding: 6px 15px 6px 0;
  border-bottom: 1px solid #ededed;
}

.woocommerce-Tabs-panel table th {
  font-size: 14px;
  color: #000;
}

.woocommerce-Tabs-panel table td {
  font-size: 12px;
  color: #919191;
}

.woocommerce-Tabs-panel table tbody tr:last-child td {
  border-bottom: none;
}

#respond {
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .woocommerce-product-gallery {
    margin-right: 50px;
  }
  .woocommerce-Tabs-panel {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 767px) {
  .product-row {
    display: block;
  }
  .product-row .summary {
    max-width: 360px;
  }
  .woocommerce-product-gallery {
    margin-right: 0;
  }
  .woocommerce-product-gallery__image {
    height: 300px;
  }
  .flex-control-nav img {
    height: 60px;
  }
  .woocommerce-tabs ul.tabs {
    display: block;
  }
  .woocommerce-tabs ul.tabs li {
    width: 100%;
  }
  .woocommerce-Tabs-panel {
    padding: 20px 15px;
  }
  .woocommerce-Tabs-panel table, .woocommerce-Tabs-panel tbody, .woocommerce-Tabs-panel tr {
    display: block;
  }
  .woocommerce-Tabs-panel thead {
    display: none;
  }
  .woocommerce-Tabs-panel tr:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }
  .woocommerce-Tabs-panel td {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: none !important;
  }
  .woocommerce-Tabs-panel td::before {
    content: attr(data-title);
    width: 50%;
    padding-right: 15px;
  }
}

/* ----- cart ----- */
table.shop_table.cart {
  font-size: 12px;
  color: #b9b9b9;
}

@media screen and (max-width: 767px) {
  table.shop_table.cart {
    display: block;
    color: #000;
  }
  table.shop_table.cart tr td[data-title]::before {
    margin-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  table.shop_table.cart tbody {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  table.shop_table.cart tr {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  table.shop_table.cart tr:not(:last-child) {
    border-bottom: 1px solid #ececec;
  }
}

table.shop_table.cart th, table.shop_table.cart td {
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  table.shop_table.cart th, table.shop_table.cart td {
    border: 1px solid #ececec;
  }
  table.shop_table.cart th:first-child, table.shop_table.cart td:first-child {
    width: 105px;
  }
  table.shop_table.cart th:nth-child(2), table.shop_table.cart td:nth-child(2) {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  table.shop_table.cart th, table.shop_table.cart td {
    padding-left: 0;
    padding-right: 0;
  }
}

table.shop_table.cart th {
  font-weight: 600;
  color: #000;
}

table.shop_table.cart .product-thumbnail a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 65px;
  height: 65px;
  border: 1px solid #ececec;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  table.shop_table.cart .product-thumbnail a {
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }
  table.shop_table.cart .product-thumbnail a img {
    max-width: 100%;
  }
}

table.shop_table.cart .attachment-woocommerce_thumbnail {
  max-width: 100%;
}

table.shop_table.cart .product-name a {
  text-decoration: none;
}

table.shop_table.cart .amount {
  font-size: 14px;
}

table.shop_table.cart .product-subtotal .amount {
  display: block;
  position: relative;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  table.shop_table.cart .product-subtotal .amount {
    position: static;
    padding-right: 0;
  }
}

table.shop_table.cart a.remove {
  float: none;
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 1;
  height: 1em;
}

table.shop_table.cart a.remove::before {
  content: '\f00d';
  opacity: 0.7;
  line-height: 1;
}

table.shop_table.cart .actions {
  border: none !important;
  padding-top: 30px !important;
  text-align: left;
}

table.shop_table.cart .actions .flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  table.shop_table.cart .actions .flex {
    display: block;
  }
}

table.shop_table.cart .actions .button {
  width: 165px;
  height: 40px;
}

table.shop_table.cart .actions .button::after {
  display: none;
}

@media screen and (max-width: 767px) {
  table.shop_table.cart .actions {
    padding-top: 0 !important;
  }
}

table.shop_table.cart .coupon {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

table.shop_table.cart .coupon input {
  display: block !important;
  width: 263px !important;
  max-width: 263px;
  height: 40px;
  padding: 12px 22px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 30px;
  margin-right: 30px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 575px) {
  table.shop_table.cart .coupon input {
    margin-right: 15px !important;
  }
}

.quantity-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -4px;
}

.quantity-input input {
  display: block;
  min-width: 50%;
  padding: 0 !important;
  border: none;
  outline: none;
  text-align: center;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.quantity-input .minus, .quantity-input .plus {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20px;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  font-size: 20px;
  color: #b9b9b9;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
  vertical-align: middle;
  cursor: pointer;
}

.quantity-input .minus i, .quantity-input .plus i {
  display: block;
  width: .5em;
}

.quantity-input .minus::-moz-selection, .quantity-input .plus::-moz-selection {
  background: transparent;
  color: #000;
}

.quantity-input .minus::selection, .quantity-input .plus::selection {
  background: transparent;
  color: #000;
}

@media screen and (max-width: 767px) {
  .product-quantity .quantity-input {
    margin-left: auto;
  }
}

.cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}

.cart-collaterals table.shop_table th, .cart-collaterals table.shop_table td {
  border: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-collaterals table.shop_table th:first-child, .cart-collaterals table.shop_table td:first-child {
  padding-left: 0;
  padding-right: 30px;
  width: auto;
}

.cart-collaterals .checkout-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 165px;
  height: 40px;
  margin-top: 15px;
  font-size: 12px !important;
  border-color: #764737 !important;
  background: #764737 !important;
}

.cart-collaterals .checkout-button:hover {
  background: #fff !important;
  color: #764737 !important;
}

.cart-collaterals .checkout-button::after {
  display: none;
}

ul#shipping_method li:not(:last-child) {
  margin-bottom: 12px;
}

.woocommerce-shipping-methods input {
  display: none;
}

.woocommerce-shipping-methods label {
  padding: 0 0 0 24px;
  margin: 0;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.woocommerce-shipping-methods label::before {
  content: '' !important;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: .05em;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px #cdcdcd;
          box-shadow: 0 0 0 1px #cdcdcd;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

@media screen and (max-width: 575px) {
  .woocommerce-shipping-methods label {
    font-size: 12px;
  }
}

.woocommerce-shipping-methods input:checked + label::before,
.woocommerce-shipping-methods input:checked + label::before {
  background: #764737;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #764737;
          box-shadow: 0 0 0 1px #764737;
}

.order-total .amount {
  font-size: 18px !important;
  color: #000;
}

@media screen and (max-width: 575px) {
  .hentry {
    margin-bottom: 0;
  }
}

/* ----- checkout ----- */
.woocommerce-checkout .col2-set {
  padding: 30px;
  background-color: #f6f6f6;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-right: 15px;
}

.woocommerce-checkout .col2-set .col-1, .woocommerce-checkout .col2-set .col-2 {
  margin-bottom: 0;
}

.woocommerce-checkout .col2-set .form-row {
  margin-bottom: 18px;
}

.woocommerce-checkout .col2-set .form-row-first, .woocommerce-checkout .col2-set .form-row-last {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
}

.woocommerce-checkout .col2-set .form-row-first {
  margin-right: 30px;
}

.woocommerce-checkout .input-text {
  display: block;
  height: 40px;
  padding: 13px 20px;
  border: 1px solid #ececec;
  background-color: #fff;
  font-size: 12px;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.woocommerce-checkout .input-text::-webkit-input-placeholder {
  color: #b9b9b9;
}

.woocommerce-checkout .input-text::-moz-placeholder {
  color: #b9b9b9;
}

.woocommerce-checkout .input-text:-ms-input-placeholder {
  color: #b9b9b9;
}

.woocommerce-checkout .input-text::-ms-input-placeholder {
  color: #b9b9b9;
}

.woocommerce-checkout .input-text::placeholder {
  color: #b9b9b9;
}

.woocommerce-checkout input.input-text {
  border-radius: 30px;
}

.woocommerce-checkout textarea.input-text {
  height: 101px;
  border-radius: 10px;
}

.woocommerce-billing-fields label, .woocommerce-additional-fields label {
  display: none;
}

#order_review_heading, #order_review {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-left: 15px;
}

#order_review_heading {
  margin-top: 27px;
}

.woocommerce-checkout-review-order-table {
  margin-top: 30px;
  margin-bottom: 40px !important;
  border: 1px solid #ececec;
  font-size: 14px;
}

.woocommerce-checkout-review-order-table th {
  font-weight: 700;
}

.woocommerce-checkout-review-order-table td, .woocommerce-checkout-review-order-table tbody th, .woocommerce-checkout-review-order-table tfoot th {
  padding: 9px 35px;
  color: #b9b9b9;
  border-bottom: 1px solid #ececec;
}

.woocommerce-checkout-review-order-table td strong, .woocommerce-checkout-review-order-table tbody th strong, .woocommerce-checkout-review-order-table tfoot th strong {
  font-weight: 400;
}

.woocommerce-checkout-review-order-table thead th {
  padding: 14px 35px;
  background-color: #f6f6f6;
}

.woocommerce-checkout-review-order-table tbody th, .woocommerce-checkout-review-order-table tfoot th {
  font-weight: 400;
}

#payment .payment_methods li {
  margin-bottom: 12px;
}

#payment .payment_methods > .woocommerce-PaymentMethod > label,
#payment .payment_methods > .wc_payment_method > label {
  padding: 0 0 0 24px;
  margin: 0;
  font-size: 14px;
}

#payment .payment_methods > .woocommerce-PaymentMethod > label::before,
#payment .payment_methods > .wc_payment_method > label::before {
  content: '' !important;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: .05em;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px #cdcdcd;
          box-shadow: 0 0 0 1px #cdcdcd;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

#payment .payment_methods > .woocommerce-PaymentMethod > input:checked + label::before,
#payment .payment_methods > .wc_payment_method > input:checked + label::before {
  background: #764737;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #764737;
          box-shadow: 0 0 0 1px #764737;
}

#payment .place-order {
  padding: 0;
}

#payment .place-order .button {
  max-width: 263px;
  height: 50px;
  background-color: #764737;
  border-color: #764737;
  font-size: 14px;
  color: #fff;
}

#payment .place-order .button::after {
  display: none;
}

#payment .place-order .button:hover {
  background: #fff;
  color: #764737;
}

@media screen and (max-width: 991px) {
  .woocommerce-checkout .col2-set {
    width: 100%;
    margin: 0 0 50px;
  }
  #order_review_heading, #order_review {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .woocommerce-checkout .col2-set {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 20px 15px;
  }
  .woocommerce-checkout .form-row-first, .woocommerce-checkout .form-row-last {
    width: 100% !important;
  }
  .woocommerce-checkout .form-row-first {
    margin-right: 0;
  }
  .woocommerce-checkout td, .woocommerce-checkout tbody th, .woocommerce-checkout tfoot th {
    padding: 9px 15px;
  }
  .woocommerce-checkout thead th {
    padding: 12px 15px;
  }
}

/* ----- news ----- */
.news__row {
  margin: 0 -25px;
}

@media screen and (max-width: 991px) {
  .news__row {
    display: block;
    margin: 0;
  }
}

.news__col {
  width: 50%;
  margin-bottom: 80px;
  padding: 0 25px;
}

@media screen and (max-width: 991px) {
  .news__col {
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
  }
}

.news__item {
  height: 100%;
}

@media screen and (max-width: 575px) {
  .news__item .flex {
    display: block;
  }
}

.news__item .button {
  max-width: 165px;
  height: 35px;
  font-size: 12px;
  font-weight: 400;
}

.news__title {
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: 600;
}

.news__title a:hover {
  color: #b9b9b9;
}

.news__date {
  font-size: 12px;
  margin-bottom: 16px;
  color: #7a7a7a;
}

.news__date i {
  margin-right: 8px;
  opacity: 0.6;
}

.news__img {
  max-width: 165px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 165px;
      -ms-flex: 0 0 165px;
          flex: 0 0 165px;
  height: 165px;
  overflow: hidden;
}

.news__img a {
  display: block;
}

@media screen and (max-width: 575px) {
  .news__img {
    width: auto;
    max-width: 100%;
    margin: 0 0 20px;
  }
}

.news__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  max-width: 100%;
  padding-left: 30px;
}

@media screen and (max-width: 575px) {
  .news__content {
    padding-left: 0;
  }
}

.news__txt {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #b9b9b9;
}

.news .woocommerce-pagination {
  float: none;
}

/* ----- contacts ----- */
.contacts__row {
  margin: 0 -15px;
}

@media screen and (max-width: 575px) {
  .contacts__row {
    display: block;
    margin: 0;
  }
}

.contacts__col {
  width: 25%;
  margin-bottom: 30px;
  padding: 0 15px;
}

@media screen and (max-width: 991px) {
  .contacts__col {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .contacts__col {
    width: 100%;
    padding: 0;
  }
}

.contacts__item {
  height: 100%;
  border: 1px solid #ececec;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  padding: 25px 25px 30px;
}

@media screen and (max-width: 767px) {
  .contacts__item {
    padding: 20px 15px;
  }
}

.contacts__title {
  margin-bottom: .7em;
}

.contacts__title i {
  margin-right: 8px;
  color: #b9b9b9;
}

.contacts__data {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #b9b9b9;
}

.contacts__data li:not(:last-child) {
  margin-bottom: 4px;
}

.contacts__link {
  position: absolute;
  bottom: 15px;
  color: #764737;
  text-decoration: underline;
  font-size: 12px;
}

.contacts__link:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .contacts__link {
    position: static;
  }
}

.requisites {
  padding-top: 20px;
}

.requisites__row {
  border: 1px solid #ececec;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .requisites__row {
    display: block;
  }
}

.requisites__col {
  width: 50%;
  padding: 25px;
}

@media screen and (max-width: 991px) {
  .requisites__col {
    width: 100%;
  }
  .requisites__col + .requisites__col {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .requisites__col {
    padding: 15px 15px 30px;
  }
}

.requisites__table {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 2;
}

.requisites__table th, .requisites__table td {
  padding: 0;
}

.requisites__table th {
  font-weight: 600;
  padding-right: 30px;
}

.requisites__table td {
  color: #b9b9b9;
}

@media screen and (max-width: 991px) {
  .requisites__table th {
    width: 190px;
  }
}

@media screen and (max-width: 575px) {
  .requisites__table {
    display: block;
  }
  .requisites__table tr, .requisites__table th, .requisites__table td {
    display: block;
  }
}

.contacts-map {
  margin-top: 50px;
  height: 547px;
  border-radius: 4px;
}

.contacts-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 991px) {
  .contacts-map {
    height: 450px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-map {
    height: 350px;
  }
}

/* ----- delivery ----- */
.delivery-img {
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 457px;
  height: 302px;
  margin: 0 0 30px 30px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .delivery-img {
    float: none;
    width: 100%;
    max-width: 457px;
    height: 50vw;
    margin-left: 0;
  }
}

.delivery-map {
  margin-top: 50px;
  height: 551px;
  border-radius: 4px;
}

.delivery-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 991px) {
  .delivery-map {
    height: 450px;
  }
}

@media screen and (max-width: 767px) {
  .delivery-map {
    height: 350px;
  }
}

.shipment .ftitle {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 575px) {
  .shipment .ftitle {
    text-align: center;
  }
}

.shipment.flex {
  margin: 0 -15px;
}

.shipment__item {
  width: 25%;
  margin-bottom: 85px;
  padding: 0 15px;
}

@media screen and (max-width: 1199px) {
  .shipment__item {
    width: 33.33333%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .shipment__item {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .shipment__item {
    width: 100%;
    max-width: 263px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.shipment__img {
  margin-bottom: 20px;
}

.shipment__img a {
  display: block;
}

.shipment__txt {
  font-size: 12px;
  line-height: 1.5;
}

.shipment__txt:first-letter {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.05;
}

@media screen and (max-width: 767px) {
  .fancybox-is-open .fancybox-bg {
    background: #fff;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .fancybox-inner {
    width: 750px;
    height: 502px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
    background-color: #fff;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .fancybox-content {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
    max-width: -webkit-calc(100% - 180px) !important;
    max-width: calc(100% - 180px) !important;
    max-height: 330px;
  }
}

@media screen and (min-width: 768px) {
  .fancybox-slide--image .fancybox-content {
    top: 50%;
    left: 90px;
  }
}

.fancybox-title {
  position: absolute;
  width: 100%;
  top: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .fancybox-title {
    top: 40px;
    left: 90px;
    text-align: left;
  }
}

.fancybox-caption {
  background: none;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .fancybox-caption {
    padding: 0 90px 40px;
  }
}

.fancybox-caption__body {
  text-align: left;
}

.fancybox-caption__body:first-letter {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
}

.fancybox-toolbar {
  visibility: visible !important;
  opacity: 1 !important;
}

.fancybox-button--close {
  background: none;
  color: #b9b9b9;
  padding: 5px;
}

.fancybox-button--close:hover {
  color: #764737;
}

.fancybox-navigation .fancybox-button {
  padding: 0;
  background: none;
  font-size: 7px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  color: #b9b9b9;
  opacity: 1 !important;
  visibility: visible !important;
}

.fancybox-navigation .fancybox-button::before {
  content: '';
  display: block;
  width: 2.2em;
  height: 2.2em;
  border-top: .4em solid currentColor;
  border-right: .4em solid currentColor;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.fancybox-navigation .fancybox-button:hover {
  color: #764737;
}

.fancybox-navigation .fancybox-button:disabled {
  color: #b9b9b9;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fancybox-navigation .fancybox-button--arrow_left::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.fancybox-navigation .fancybox-button--arrow_right {
  right: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fancybox-navigation .fancybox-button--arrow_right::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
