/* ----- cart ----- */

table.shop_table.cart
	font-size: 12px
	color: $color2
	@include max-screen($md)
		display: block
		color: $black
		tr td[data-title]::before
			margin-right: 15px
	tbody
		@include max-screen($md)
			display: block
	tr
		@include max-screen($md)
			display: block
			padding-bottom: 15px
			margin-bottom: 15px
			position: relative
			&:not(:last-child)
				border-bottom: 1px solid #ececec

	th, td
		padding: 10px 20px
		@include min-screen(768px)
			border: 1px solid #ececec
			&:first-child
				width: 105px
			&:nth-child(2)
				width: 40%
		@include max-screen($md)
			padding-left: 0
			padding-right: 0

	th
		font-weight: 600
		color: $black

	.product-thumbnail a
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden
		width: 65px
		height: 65px
		border: 1px solid #ececec
		border-radius: 2px
		@include max-screen($md)
			border: none
			margin-left: auto
			margin-right: auto
			width: auto
			height: auto
			img
				max-width: 100%

	.attachment-woocommerce_thumbnail
		max-width: 100%


	.product-name a
		text-decoration: none

	.amount
		font-size: 14px

	.product-subtotal 
		.amount
			display: block
			position: relative
			padding-right: 20px
			@include max-screen($md)
				position: static
				padding-right: 0

	a.remove
		float: none
		width: 15px
		position: absolute
		top: 0
		right: 0
		font-size: 18px
		line-height: 1
		height: 1em
		&::before
			content: '\f00d'
			opacity: 0.7
			line-height: 1


	.actions
		border: none !important
		padding-top: 30px !important
		text-align: left
		.flex
			align-items: center
			@include max-screen($sm)
				display: block
		.button
			width: 165px
			height: 40px
			&::after
				display: none
		@include max-screen($md)
			padding-top: 0 !important

	.coupon
		display: flex !important
		align-items: center
		margin-right: auto
		input
			display: block !important
			width: 263px !important
			max-width: 263px
			height: 40px
			padding: 12px 22px
			background-color: $white
			border: 1px solid #ececec
			border-radius: 30px
			margin-right: 30px !important
			box-shadow: none
			@include max-screen($sm)
				margin-right: 15px !important



.quantity-input
	display: flex
	max-width: 100px
	justify-content: space-between
	align-items: center
	margin-left: -4px
	input
		display: block
		min-width: 50%
		padding: 0 !important
		border: none
		outline: none
		text-align: center
		background: none
		box-shadow: none
		vertical-align: middle
		font-size: 14px
		font-weight: 600
		color: $black
	.minus, .plus
		display: flex !important
		align-items: center
		justify-content: center
		width: 20px
		flex: 0 0 20px
		height: 20px
		font-size: 20px
		color: $color2
		transition: color .2s
		vertical-align: middle
		cursor: pointer
		i
			display: block
			width: .5em
		&::selection
			background: transparent
			color: #000

@include max-screen($md)
	.product-quantity
		.quantity-input
			margin-left: auto



.cart-collaterals 
	.cart_totals
		float: none
		width: 100%

	table.shop_table
		th, td
			border: none
			width: 100%
			padding-top: 5px
			padding-bottom: 5px
			&:first-child
				padding-left: 0
				padding-right: 30px
				width: auto

	.checkout-button
		display: flex
		max-width: 165px
		height: 40px
		margin-top: 15px
		font-size: 12px !important
		border-color: $accent !important
		background: $accent !important
		&:hover
			background: $white !important
			color: $accent !important
		&::after
			display: none


ul#shipping_method li:not(:last-child)
	margin-bottom: 12px
.woocommerce-shipping-methods
	input
		display: none
	label
		padding: 0 0 0 24px
		margin: 0
		font-size: 14px
		position: relative
		cursor: pointer
		font-size: 14px
		&::before
			content: '' !important
			display: block
			width: 15px
			height: 15px
			border-radius: 50%
			position: absolute
			left: 0
			top: .05em
			background: $white
			box-shadow: 0 0 0 1px #cdcdcd
			transition: all .1s ease
		@include max-screen($sm)
			font-size: 12px

.woocommerce-shipping-methods input:checked + label::before, 
.woocommerce-shipping-methods input:checked + label::before
	background: $accent
	border: 3px solid $white
	box-shadow: 0 0 0 1px $accent

.order-total
	.amount
		font-size: 18px !important
		color: $black



@include max-screen($sm)
	.hentry
		margin-bottom: 0




	