/* ----- category ----- */
.category

	&__img
		width: 360px
	&__col
		flex: 1 0 0
		max-width: 100%
		padding-right: 50px

	@include max-screen($lg)
		&__row
			display: block
		&__col
			padding-right: 0
		&__img
			width: 100%
			max-width: 360px
			margin: 30px auto 0


	&-catalog
		&__slider
			width: calc(100% + 22px)
			margin-left: -11px

			.slick-arrow
				font-size: 5px
				justify-content: center
				background: $white
				border: 2px solid $accent
				border-radius: 4px
				color: $accent
				top: 88px
			.slick-prev
				left: 25px
				&::before
					margin-left: 5px
			.slick-next
				right: 25px
				&::before
					margin-right: 5px

			@include max-screen($sm)
				.slick-arrow
					font-size: 10px
				.slick-prev
					left: 10px
				.slick-next
					right: 10px


.storefront-sorting
	display: flex
	align-items: center
	margin-bottom: 42px
	width: 100%
	.woocommerce-ordering, .woocommerce-pagination
		float: none
	.woocommerce-pagination
		margin-left: auto

.woocommerce-ordering
	width: 262px
	height: 40px
	border: 1px solid #ececec
	border-radius: 30px
	padding: 0 10px 0 0
	margin: 0
	background-color: $white
.orderby
	width: 100% !important
	padding: 11px 22px
	border: none
	background: none
	font-size: 12px
	color: $color2
	cursor: pointer
	option
		padding: 5px
	&:focus
		outline: none

.pagination, .woocommerce-pagination
	padding: 0
	border: none
.woocommerce-pagination .prev, .woocommerce-pagination .next
	color: $color2 !important
	font-size: 14px !important
.woocommerce-pagination .prev::after
	content: '\f104'
.woocommerce-pagination .next::after
	content: '\f105'

.pagination .page-numbers li .page-numbers, .woocommerce-pagination .page-numbers li .page-numbers
	display: flex
	align-items: center
	justify-content: center
	width: 30px
	height: 30px
	padding: 0
	border-radius: 50%
	background-color: $white
	border: 1px solid #ececec !important
	font-size: 12px
	color: #7a7a7a

.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current
	background-color: #f6f6f6
	color: $accent


.filter-button
	justify-content: flex-start
	width: 262px
	height: 40px
	padding: 11px 32px 11px 22px
	border: 1px solid #ececec
	background-color: #f6f6f6
	color: #7a7a7a
	font-weight: 400
	&::after
		content: ''
		display: block
		width: 12px
		height: 10px
		position: absolute
		right: 20px
		top: 50%
		margin-top: -5px
		background: url('../img/ic-filter.png') no-repeat 50% 50% / 100%
	&:hover
		color: #7a7a7a
		background: darken(#f6f6f6, 4)
	
	
.storefront-sorting .filter-button
	margin-left: 30px


.site-content
	padding-top: 50px
	> .col-full
		display: flex
		flex-wrap: wrap
		align-items: flex-start
	.content-area
		width: 100%
		flex: 1 0 0
		max-width: 100%
		margin-right: 0

.site-main 

	.storefront-sorting
		margin: 12px 0 0

	ul.products
		display: flex
		flex-wrap: wrap
		&::after, &::before
			display: none
		li.product
			width: 262px !important
			margin-right: 30px
			margin-bottom: 30px
			padding-bottom: 30px
			background-color: $white
			border: 1px solid #ececec
			float: none !important
		&.columns-4
			li.product
				margin-right: 30px
				&:nth-child(4n)
					margin-right: 0
		&.columns-3
			li.product
				margin-right: 30px
				&:nth-child(3n)
					margin-right: 0


		img
			margin-bottom: 22px !important
			width: 100%
			height: 196px
			object-fit: cover

		.woocommerce-loop-product__title
			font-size: 14px !important
			font-weight: 600 !important
			text-transform: none
			padding: 0 40px

		.onsale
			position: absolute
			top: 150px
			left: 50%
			transform: translateX(-50%)
			padding: 7px 20px
			font-size: 11px
			font-weight: 300
			text-transform: none
			border-color: #ffae00
			background-color: #ffae00
			border-radius: 30px
			color: $white

		.price
			min-height: 55px
			display: flex !important
			flex-direction: column
			justify-content: flex-end
			margin-bottom: 2.2rem
			text-align: center
			> *
				display: block
			del bdi
				font-size: 12px
				color: $color2
			ins, bdi
				font-size: 18px
				margin-left: 0 !important
				color: $accent

		.site-header-favourite
			position: absolute
			right: 16px
			top: 148px
			border: 1px solid $white

		.button
			max-width: 165px
			background: $accent
			color: $white
			&::after
				display: none
			&:hover
				background: $white
				color: $accent
			&.added
				border-width: 2px
				background: $white
				color: $accent
				&::after
					display: block
					content: '\f058'
					line-height: 1
					font-family: 'Font Awesome 5 Free'
					font-weight: 900
					font-size: 20px
					color: $accent
					transform: translateX(.5em)

		.added_to_cart
			display: none !important


.widget-area
	flex: 0 0 262px
	max-width: 262px
	float: none
	margin-left: 30px
	.filter-button
		margin-bottom: 42px
		&::after
			transform: rotate(180deg)

.woof_products_top_panel 
	ul
		display: flex
		flex-wrap: wrap
	li
		max-width: 100%
		float: none
		&:not(:last-child)
			margin-bottom: 10px !important
		a
			display: block
			min-width: 165px
			padding: 9px 18px
			font-size: 12px
			line-height: 1
			background-color: #f6f6f6
			border-radius: 30px
			color: #a5a5a5
			position: relative
		span
			display: block
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			background: none
			&::after
				content: '\f00d'
				line-height: 1
				font-family: 'Font Awesome 5 Free'
				font-weight: 900
				position: absolute
				right: 14px
				color: $color2
				opacity: 0.5



.widget-area
	border: 1px solid #ececec
	background-color: $white

	.widget
		margin-bottom: 0

	.widget-title, .widgettitle
		margin-bottom: 0
		padding: 24px 20px
		border: none
		font-size: 12px
		font-weight: 600
		text-transform: uppercase
		position: relative
		cursor: pointer
		span
			color: #919191
			text-transform: none
		&::after
			content: '\f105'
			display: block
			font-family: 'Font Awesome 5 Free'
			font-weight: 900
			font-size: 16px
			color: #b3b3b3
			position: absolute
			right: 22px
			top: 18px
			transform: rotate(-90deg)
			transition: transform .2s ease
		&--noarrow
			&::after
				display: none
		&.active
			&::after
				transform: rotate(90deg)


	.widget_price_filter
		padding-top: 60px
		form
			margin-bottom: 0
	.price_slider_amount
		position: relative
		.price_label
			float: none !important

	.price_label
		display: flex !important
		align-items: center
		width: 100%
		height: 30px
		position: absolute
		top: -79px
		left: 0
		background-color: $white
		border: 1px solid #ececec
		color: $color2
		font-size: 0
		span
			display: block
			width: 50%
			text-align: center
			font-size: 14px

	.price_slider
		height: 7px !important
		border: 1px solid #d2d2d2 !important
		background-color: $white !important
		.ui-slider-range
			height: 7px !important
			top: -1px !important
			background: $accent !important
		.ui-slider-handle
			width: 21px !important
			height: 21px !important
			background: $accent !important
			border: 5px solid $white !important
			box-shadow: 0 0 0 1px $accent, 0 0 10px rgba(0, 0, 0, 0.25)
			&:last-child
				transform: translateX(-7px)

	.woof_checkbox_count
		display: none

	.woof_list_checkbox
		li
			display: flex
			align-items: center
			margin: 0 !important
			&:not(:last-child)
				padding-bottom: 10px !important
	.woof_checkbox_term
		display: none
		&:checked
			+ .woof_checkbox_label
				&::before
					content: '\f058'
					line-height: 1
					font-family: 'Font Awesome 5 Free'
					font-weight: 900
					font-size: 18px
					color: $accent
					border-color: transparent

	.woof_checkbox_label
		display: inline-flex !important
		align-items: center
		margin-left: 0
		padding: 0
		font-size: 12px
		color: $color2
		&::before
			content: ''
			display: flex
			align-items: center
			justify-content: center
			width: 18px
			flex: 0 0 18px
			height: 18px
			margin-right: 11px
			border-radius: 50%
			border: 1px solid #c6c6c6
			background-color: $white

	.woof_container
		margin: 0
		padding: 0
		&--gray
			background-color: #f6f6f6
			.filter-more
				border: 1px solid #f6f6f6
				background-color: #ececec

	.woof_container_inner
		padding: 0 20px 24px
		&.--collasped
			display: none

	.woof_products_top_panel
		margin: 24px 0 0

.filter-more
	display: flex
	max-width: 165px
	margin: 30px auto 0
	height: 36px
	font-weight: 400
	color: $color2
	border-color: #ececec
	&::after
		display: none


@include max-screen($xl)
	.site-main 
		ul.products 
			li.product
				width: 32% !important
				margin-right: 2% !important	
				&:nth-child(3n)
					margin-right: 0 !important


	.site-content
		.widget-area
			position: fixed
			z-index: 999
			width: 100%
			padding-top: 30px
			padding-bottom: 60px
			overflow-x: hidden
			overflow-y: auto
			max-width: 100%
			margin-left: 0
			height: 100%
			top: 0
			left: 0

	.widget-area-close
		width: 30px
		height: 30px
		position: absolute
		top: 15px
		right: 15px
		cursor: pointer
		&::after
			content: '\f00d'
			line-height: 1
			font-family: 'Font Awesome 5 Free'
			font-weight: 900
			font-size: 20px
			position: absolute
			right: 3px
			color: $black
			opacity: 0.9


	.site-main ul.products .woocommerce-loop-product__title
		padding-left: 15px
		padding-right: 15px

	.storefront-sorting .filter-button
		margin-left: auto




@include max-screen($md)
	.site-main 
		ul.products 
			li.product
				width: 46% !important
				margin-right: 4% !important	
				&:nth-child(2n)
					margin-right: 0 !important
				&:nth-child(3n)
					margin-right: 4% !important	
	.storefront-sorting
		align-items: center
		flex-direction: column
		.woocommerce-ordering
			order: 1
		.filter-button
			margin: 0 auto 15px
		.woocommerce-pagination
			margin-right: auto

	.site-main 
		.storefront-sorting 
			.woocommerce-ordering
				display: none



@include max-screen($sm)
	.site-main 
		ul.products 
			li.product
				width: 100% !important
				max-width: 320px
				margin-right: auto !important	
				margin-left: auto
				&:nth-child(2n)
					margin-right: auto !important
				&:nth-child(3n)
					margin-right: auto !important	














