/* ----- checkout ----- */


.woocommerce-checkout
	.col2-set
		padding: 30px
		background-color: #f6f6f6
		width: calc(50% - 15px)
		margin-right: 15px
		.col-1, .col-2
			margin-bottom: 0
		.form-row
			margin-bottom: 18px
		.form-row-first, .form-row-last
			width: calc(50% - 15px)
		.form-row-first
			margin-right: 30px
	
	.input-text
		display: block
		height: 40px
		padding: 13px 20px
		border: 1px solid #ececec
		background-color: $white
		font-size: 12px
		color: $black
		box-shadow: none
		&::placeholder
			color: $color2

	input.input-text
		border-radius: 30px
	textarea.input-text
		height: 101px
		border-radius: 10px

.woocommerce-billing-fields, .woocommerce-additional-fields
	label
		display: none
	
#order_review_heading, #order_review
	width: calc(50% - 15px)
	margin-left: 15px
#order_review_heading
	margin-top: 27px


.woocommerce-checkout-review-order-table
	margin-top: 30px
	margin-bottom: 40px !important
	border: 1px solid #ececec
	font-size: 14px
	th
		font-weight: 700
	td, tbody th, tfoot th
		padding: 9px 35px
		color: $color2
		border-bottom: 1px solid #ececec
		strong
			font-weight: 400
	thead
		th
			padding: 14px 35px
			background-color: #f6f6f6
	tbody, tfoot
		th
			font-weight: 400



#payment 
	.payment_methods li
		margin-bottom: 12px
	.payment_methods > .woocommerce-PaymentMethod > label, 
	.payment_methods > .wc_payment_method > label
		padding: 0 0 0 24px
		margin: 0
		font-size: 14px
		&::before
			content: '' !important
			display: block
			width: 15px
			height: 15px
			border-radius: 50%
			position: absolute
			left: 0
			top: .05em
			background: $white
			box-shadow: 0 0 0 1px #cdcdcd
			transition: all .1s ease

	.payment_methods > .woocommerce-PaymentMethod > input:checked + label::before, 
	.payment_methods > .wc_payment_method > input:checked + label::before
		background: $accent
		border: 3px solid $white
		box-shadow: 0 0 0 1px $accent


	.place-order 
		padding: 0
		.button
			max-width: 263px
			height: 50px
			background-color: $accent
			border-color: $accent
			font-size: 14px
			color: $white
			&::after
				display: none
			&:hover
				background: $white
				color: $accent

@include max-screen($lg)
	.woocommerce-checkout 
		.col2-set
			width: 100%
			margin: 0 0 50px
	#order_review_heading, #order_review
		width: 100%
		margin-left: 0

@include max-screen($md)
	.woocommerce-checkout 
		.col2-set
			width: calc(100% + 30px)
			margin-left: -15px
			padding: 20px 15px
		.form-row-first, .form-row-last
			width: 100% !important
		.form-row-first
			margin-right: 0
		td, tbody th, tfoot th
			padding: 9px 15px
		thead
			th
				padding: 12px 15px
















	