/* ----- contacts ----- */

.contacts

	&__row
		margin: 0 -15px
		@include max-screen($sm)
			display: block
			margin: 0
	
	&__col
		width: 25%
		margin-bottom: 30px
		padding: 0 15px
		@include max-screen($lg)
			width: 50%
		@include max-screen($sm)
			width: 100%
			padding: 0

	&__item
		height: 100%
		border: 1px solid #ececec
		border-radius: 4px
		background-color: $white
		position: relative
		padding: 25px 25px 30px
		@include max-screen($md)
			padding: 20px 15px

	&__title
		margin-bottom: .7em
		i
			margin-right: 8px
			color: $color2

	&__data
		margin-bottom: 1rem
		font-size: 14px
		color: $color2
		li
			&:not(:last-child)
				margin-bottom: 4px

	&__link
		position: absolute
		bottom: 15px
		color: $accent
		text-decoration: underline
		font-size: 12px
		&:hover
			text-decoration: none
		@include max-screen($md)
			position: static


.requisites
	padding-top: 20px

	&__row
		border: 1px solid #ececec
		border-radius: 4px
		@include max-screen($lg)
			display: block

	&__col
		width: 50%
		padding: 25px
		@include max-screen($lg)
			width: 100%
			+ .requisites__col
				padding-top: 0
		@include max-screen($md)
			padding: 15px 15px 30px

	&__table
		margin-bottom: 0
		font-size: 12px
		line-height: 2
		th, td
			padding: 0
		th
			font-weight: 600
			padding-right: 30px
		td
			color: $color2
		@include max-screen($lg)
			th
				width: 190px
		@include max-screen($sm)
			display: block
			tr, th, td
				display: block




.contacts-map
	margin-top: 50px
	height: 547px
	border-radius: 4px
	iframe
		width: 100%
		height: 100%
		border: none
	@include max-screen($lg)
		height: 450px
	@include max-screen($md)
		height: 350px






























































	