/* ----- delivery ----- */

.delivery


	&-img
		float: right
		display: flex
		align-items: center
		justify-content: center
		width: 457px
		height: 302px
		margin: 0 0 30px 30px
		border: 1px solid #ececec
		border-radius: 4px
		@include max-screen($md)
			float: none
			width: 100%
			max-width: 457px
			height: 50vw
			margin-left: 0




	&-map
		margin-top: 50px
		height: 551px
		border-radius: 4px
		iframe
			width: 100%
			height: 100%
			border: none
		@include max-screen($lg)
			height: 450px
		@include max-screen($md)
			height: 350px





.shipment
	.ftitle
		width: 100%
		padding-left: 15px
		padding-right: 15px
		@include max-screen($sm)
			text-align: center

	&.flex
		margin: 0 -15px

	&__item
		width: 25%
		margin-bottom: 85px
		padding: 0 15px
		@include max-screen($xl)
			width: 33.33333%
			margin-bottom: 50px
		@include max-screen($lg)
			width: 50%
		@include max-screen($sm)
			width: 100%
			max-width: 263px
			margin-left: auto
			margin-right: auto
			text-align: center

	&__img
		margin-bottom: 20px
		a
			display: block

	&__txt
		font-size: 12px
		line-height: 1.5
		&:first-letter
			display: inline-block
			margin-right: 5px
			font-weight: 600



.fancybox-is-open .fancybox-bg
	opacity: 0.05
	@include max-screen($md)
		background: $white
		opacity: 1

.fancybox-inner
	@include min-screen(768px)
		width: 750px
		height: 502px
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.45)
		background-color: $white
		border-radius: 4px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)


.fancybox-content
	@include min-screen(768px)
		transition: none !important
		transform: translateY(-50%) !important
		max-width: calc(100% - 180px) !important
		max-height: 330px

.fancybox-slide--image .fancybox-content
	@include min-screen(768px)
		top: 50%
		left: 90px

.fancybox-title
	position: absolute
	width: 100%
	top: 40px
	text-align: center
	@include min-screen(768px)
		top: 40px
		left: 90px
		text-align: left

.fancybox-caption
	background: none
	color: $black
	font-size: 14px
	font-weight: 300
	line-height: 1.3
	@include min-screen(768px)
		padding: 0 90px 40px
	&__body
		text-align: left
		&:first-letter
			display: inline-block
			margin-right: 5px
			font-weight: 600


.fancybox-toolbar
	visibility: visible !important
	opacity: 1 !important

.fancybox-button--close
	background: none
	color: $color2
	padding: 5px
	&:hover
		color: $accent

.fancybox-navigation
	.fancybox-button
		padding: 0
		background: none
		font-size: 7px
		display: inline-flex
		align-items: center
		width: 5em
		height: 5em
		color: $color2
		opacity: 1 !important
		visibility: visible !important
		&::before
			content: ''
			display: block
			width: 2.2em
			height: 2.2em
			border-top: .4em solid currentColor
			border-right: .4em solid currentColor
			@include trs(.1s)
		&:hover
			color: $accent
		&:disabled
			color: $color2
		&--arrow_left
			left: 20px
			justify-content: flex-start
			&::before
				transform: rotate(-135deg)
		&--arrow_right
			right: 20px
			justify-content: flex-end
			&::before
				transform: rotate(45deg)















