/* ----- Mainpage ----- */

.hero
	position: relative
	overflow: hidden

	&-slider
		.slick-list
			overflow: visible
		.slick-arrow
			color: #d5d5d5
		.slick-prev
			left: 50px
		.slick-next
			right: 50px
		.slick-dots
			position: absolute
			width: 100%
			bottom: 5vh
		&.slick-initialized
			.hero-slide
				opacity: 1

	&-slide
		opacity: 0
		height: 614px
		padding-top: 15vh
		position: relative
		z-index: 1
		text-align: center
		&::after
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			z-index: -1
			background: #3a2817
			opacity: 0.5

	&-title
		display: inline-block
		font-size: 48px
		margin-bottom: .7em
		line-height: 1
		font-weight: 700
		color: $white
		max-width: 9em
		text-transform: none

	&-subtitle
		margin-bottom: 3.8em
		font-size: 18px
		font-weight: 300
		color: #ff7d00
		font-style: italic

	.button
		max-width: 263px
		height: 60px
		font-size: 14px
		background-color: rgba($white, .8)
		border-color: rgba($white, .8)

	&-img
		display: block
		position: absolute
		z-index: -2
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover

	@include max-screen($xxl)
		&-slide
			height: 490px

	@include max-screen($xl)
		&-title
			font-size: 40px
		
	@include max-screen($md)
		.button
			max-width: 225px
			height: 50px

	@include max-screen($sm)
		.container
			padding-left: 0
			padding-right: 0
		&-slider
			.slick-prev
				left: 15px
			.slick-next
				right: 15px
		&-title
			font-size: 36px
		&-subtitle
			font-size: 16px






.catalog-slider
	&__slide
		&:hover
			.catalog-slider__img
				border-color: $accent
			.catalog-slider__title a
				color: $color2
				text-decoration: none
	&__img
		width: 172px
		height: 172px
		margin: 0 auto
		border-radius: 5px
		padding: 2px
		border: 1px solid $color2
		@include trs(.05s)
		a
			display: block
			height: 100%
			width: 100%
		.img
			height: 100%
			width: 100%
			object-fit: cover
	&__title
		margin-top: 1em
		font-size: 14px
		font-weight: 300
		text-align: center
		a
			color: #915113
			text-decoration: none

	&__list
		max-width: 166px
		font-size: 12px
		text-align: center
		margin: 1.5em auto 0
		li
			&:not(:last-child)
				margin-bottom: .2em
		a
			display: block
			padding: 7px 15px
			border-radius: 30px
			&:hover
				background-color: #f6f6f6
				color: $color2
	

.main-catalog__slider
	padding: 0 80px
	.slick-arrow
		font-size: 8px
		color: #d4d4d4
		top: 41%
	.slick-prev
		left: 30px
	.slick-next
		right: 30px
	@include max-screen($xl)
		padding-left: 50px
		padding-right: 50px
		.slick-prev
			left: 0
		.slick-next
			right: 0
	@include max-screen($md)
		padding-left: 30px
		padding-right: 30px
	@include max-screen($sm)
		padding-left: 15px
		padding-right: 15px


.advantages
	position: relative
	background: url('../img/bg-whywe.jpg') no-repeat 50% 75%
	z-index: 1
	color: $white
	&::before
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		z-index: -1
		background: #3a2817
		opacity: 0.9

	.section-title
		color: inherit

	&__row
		margin: 0 -15px
	&__col
		width: 20%
		margin-bottom: 30px
		padding: 0 15px
	&__item
		height: 100%
		padding: 50px 15px
		border-radius: 5px
		background: rgba($white, .1)
		text-align: center
	&__ic
		width: 48px
		margin: 0 auto 20px
	&__name
		font-size: 12px
		font-weight: 600

	@include max-screen($lg)
		&__col
			width: 33.33333%

	@include max-screen($md)
		&__col
			width: 50%

	@include max-screen($sm)
		&__item
			padding: 30px 5px



.how
	&__inner
		padding: 50px 100px 20px
		background: #f9f9f9
	&__row
		margin: 0 -22px
	&__col
		width: 20%
		margin-bottom: 30px
		padding: 0 22px
		&:last-child
			.how__item
				&::after
					display: none
	&__item
		position: relative
		&::after
			content: ''
			display: block
			font-size: 10px
			width: 2.4em
			height: 1.8em
			background: url('../img/arrow-right.png') no-repeat 50% 50% / contain
			position: absolute
			right: 30px
			top: 15px
	&__ic
		width: 53px
		margin-bottom: 20px
	&__txt
		font-size: 11px
		color: $accent
	
	@include max-screen($xl)
		&__inner
			padding: 30px 50px 20px

	@include max-screen($lg)
		&__col
			width: 33.33333%
		&__item
			&::after
				display: none

	@include max-screen($md)
		&__col
			width: 50%

	@include max-screen($sm)
		&__inner
			padding: 0 15px
			background: none
		&__row
			display: block
			margin: 0
		&__col
			width: 100%
			padding: 0
		&__item
			text-align: center
			&::after
				display: block
				transform: rotate(90deg)
				position: static
				margin: 30px auto
		&__ic
			margin-left: auto
			margin-right: auto
		&__txt
			font-size: 12px
			max-width: 190px
			margin-left: auto
			margin-right: auto




.about
	&__title
		margin-bottom: 35px
		.title-1
			margin-bottom: 0.1em
	.button
		max-width: 165px





















