/* ----- news ----- */

.news

	&__row
		margin: 0 -25px
		@include max-screen($lg)
			display: block
			margin: 0
	
	&__col
		width: 50%
		margin-bottom: 80px
		padding: 0 25px
		@include max-screen($lg)
			width: 100%
			margin-bottom: 50px
			padding: 0

	&__item
		height: 100%
		.flex
			@include max-screen($sm)
				display: block

		.button
			max-width: 165px
			height: 35px
			font-size: 12px
			font-weight: 400

	&__title
		margin-bottom: 0.5em
		font-size: 16px
		font-weight: 600
		a
			&:hover
				color: $color2

	&__date
		font-size: 12px
		margin-bottom: 16px
		color: #7a7a7a
		i
			margin-right: 8px
			opacity: 0.6

	&__img
		max-width: 165px
		flex: 0 0 165px
		height: 165px
		overflow: hidden
		a
			display: block
		@include max-screen($sm)
			width: auto
			max-width: 100%
			margin: 0 0 20px
			
	&__content
		flex: 1 0 0
		max-width: 100%
		padding-left: 30px
		@include max-screen($sm)
			padding-left: 0

	&__txt
		font-size: 12px
		line-height: 1.5
		margin-bottom: 30px
		color: $color2




	.woocommerce-pagination
		float: none
























	