/* ----- Page ----- */

.page-top
	padding: 30px 0
	background-color: #f6f6f6
	h1
		text-transform: none
	+ .section
		padding-top: 0
	@include max-screen($sm)
		padding: 20px 0
		h1, .title-1
			margin-bottom: .5em


.storefront-breadcrumb
	margin: 0
	padding: 0

.woocommerce-breadcrumb
	font-size: 14px
	color: $accent
	@include max-screen($md)
		font-size: 12px
	a
		color: $color2
		text-decoration: none

.woocommerce-breadcrumb a:first-of-type::before
	font-size: 14px

.woocommerce-breadcrumb .breadcrumb-separator
	padding: 0 .8em


.page-content
	font-size: 14px
	.section
		margin: 0

	h1, h2, h3, h4, h5, h6
		text-transform: uppercase
		clear: none
	p + h2, ul + h2, ol + h2, table + h2, blockquote + h2, form + h2
		margin-top: 4em
	p
		line-height: 1.7
		font-weight: 300
	a
		color: $accent
		text-decoration: underline
		&:hover
			text-decoration: none

	ul, ol
		margin-left: 0
		list-style: none
		color: $color2
		li
			position: relative
			padding-left: 40px
			&:not(:last-child)
				margin-bottom: 1.2em
			@include max-screen($md)
				padding-left: 30px


	ul
		li
			&::before
				content: ''
				display: block
				width: 8px
				height: 8px
				border-radius: 50%
				position: absolute
				left: .4em
				top: .5em
				background: $accent
				border: 1px solid $white
				box-shadow: 0 0 0 2px $accent

	ol
		counter-reset: li
		li
			&::before
				counter-increment: li
				content: counter(li)'.'
				position: absolute
				left: 0
				top: 0
				font-weight: 600
				color: $accent

	blockquote
		max-width: 650px
		padding-left: 30px
		border-left: 5px solid $accent
		background-image: 1.7em
		color: $color2

























	