/* ----- product ----- */

.product-row
	align-items: flex-start

.woocommerce-product-gallery
	flex: 0 0 360px
	max-width: 360px
	margin-right: 127px
	position: relative
	
	.site-header-favourite
		position: absolute
		right: 19px
		bottom: 135px
		z-index: 2

	.flex-viewport
		border: 1px solid #ececec
		border-radius: 4px

.woocommerce-product-gallery__image
	height: 360px
	display: flex !important
	justify-content: center
	align-items: center
	justify-content: center
	a
		display: block


.product-slider
	&__img
		display: flex
		align-items: center
		justify-content: center
		height: 360px
		a
			display: block

.flex-control-nav
	display: flex
	flex-wrap: wrap
	margin: 20px -15px 0
	padding: 0
	list-style: none
	li
		width: 25%
		height: 69px
		padding: 0 15px
		margin-bottom: 30px
		cursor: pointer
		position: relative
	img
		display: block
		max-width: 100%
		height: 69px
		object-fit: contain
		border: 1px solid #ececec
		border-radius: 4px
		transition: all .1s ease

	.flex-active
		border-color: $accent

.product
	&-row
		.summary
			flex: 1 0 0 
			max-width: 100%

	&-header
		justify-content: space-between
		margin-bottom: 30px
		.product_title
			margin-right: 15px
		.onsale
			display: inline-flex
			align-items: center
			justify-content: center
			min-width: 165px
			height: 35px
			margin: 0
			padding: 10px
			height: 35px
			background-color: #ffaf00
			border: none
			border-radius: 30px
			font-size: 12px
			font-weight: 400
			color: $white
			text-transform: none




.summary
	.price
		.amount
			margin-right: 15px
		ins
			bdi
				font-size: 36px
				line-height: 1
				font-weight: 600


	.cart
		display: flex
		align-items: center
		margin-bottom: 40px

		.quantity-input
			max-width: 166px
			padding: 0 8px
			height: 45px
			margin-right: 30px
			border: 1px solid #ececec
			border-radius: 30px
			background-color: $white

			.minus, .plus
				height: 30px
				width: 30px
				flex: 0 0 30px
				border: 1px solid #ececec
				border-radius: 50%
				&:hover
					background: #f6f6f6

			.minus
				i
					margin-right: 2px
			.plus
				i
					margin-left: 2px

		.button
			max-width: 165px
			height: 45px
			background: $accent
			border-color: $accent
			color: $white
			&:hover
				background: $white
				color: $accent
			&::after
				display: none


	.product_meta
		margin-bottom: 40px
		font-size: 14px
		span
			display: flex
			margin-bottom: 5px
		b
			min-width: 100px
			font-weight: 600
			padding-right: 15px


.product-property
	margin-bottom: 30px
	&__title
		margin-bottom: 1em
		font-size: 14px
		font-weight: 600
	&__select
		width: 262px
		height: 40px
		border: 1px solid #ececec
		border-radius: 30px
		padding: 0 10px 0 0
		margin: 0
		background-color: #fff
	+ .product-property
		margin-top: -5px





.woocommerce-tabs 
	margin: 70px 0 45px
	border: 1px solid #ececec
	border-radius: 4px
	padding: 0

	ul.tabs, .panel
		width: 100%
		float: none

	ul.tabs 
		display: flex
		margin: 0
		border: none
		li
			width: 33.33333%
			height: 45px
			text-align: center
			font-size: 14px
			font-weight: 600
			color: $black
			border-right: 1px solid #ececec
			border-bottom: 1px solid #ececec
			&:last-child
				border-right: none
			&.active
				background-color: #f6f6f6
				color: #919191
				&::after
					display: none


.woocommerce-Tabs-panel
	padding: 25px 95px
	font-size: 14px

	table
		margin-bottom: 0
		th, td
			padding: 6px 15px 6px 0
			border-bottom: 1px solid #ededed
		th
			font-size: 14px
			color: $black
		td
			font-size: 12px
			color: #919191
		tbody
			tr:last-child
				td
					border-bottom: none

#respond
	padding: 0


	




@include max-screen($xl)
	.woocommerce-product-gallery
		margin-right: 50px

	.woocommerce-Tabs-panel
		padding: 25px 30px



@include max-screen($md)
	.product-row
		display: block

		.summary
			max-width: 360px



	.woocommerce-product-gallery
		margin-right: 0
	.woocommerce-product-gallery__image
		height: 300px

	.flex-control-nav img
		height: 60px

	.woocommerce-tabs 
		ul.tabs 
			display: block
			li
				width: 100%
		
				

	.woocommerce-Tabs-panel
		padding: 20px 15px
		table, tbody, tr
			display: block
		thead
			display: none
		tr
			&:not(:last-child)
				border-bottom: 1px solid #ededed
		td
			display: flex
			border: none !important
			&::before
				content: attr(data-title)
				width: 50%
				padding-right: 15px




