/* ----- footer ----- */

.site-footer
	padding: 42px 0 0
	background: #2d2b29 url('../img/footer-texture.png')
	font-size: 12px
	color: #bcbcbc

	&__row
		margin: 0 -15px

	&__col
		padding: 0 15px
		width: 25%
		margin-bottom: 30px

	&__title
		margin-bottom: 32px
		font-size: 14px
		font-weight: 600

	&__list
		li
			&:not(:last-child)
				margin-bottom: .7em

	a
		color: inherit
		text-decoration: none
	&__link
		&:hover
			color: $accent
		&::before
			content: '\f105'
			display: inline-block
			height: 1em
			font: 14px/1 'Font Awesome 5 Free'
			margin-right: 6px
			opacity: 0.2
			color: #bcbcbc

	.site-tel
		margin-bottom: 30px
		font-size: 12px
		i
			font-size: 16px
			margin-right: 0.8em

	.site-address
		margin-bottom: 24px

	.social-links
		margin-top: 20px

.copy
	margin-top: 20px
	padding: 15px 0
	background: rgba($white, .05)
	color: #525252


.site-address
	display: flex
	line-height: 2
	i
		font-size: 18px
		margin: .1em .7em 0 .1em

.site-email
	color: $accent
	i
		font-size: 16px
		margin: .2em .6em 0 .1em


.social
	&-link
		display: flex
		justify-content: center
		align-items: center
		width: 24px
		height: 24px
		background: $accent
		border-radius: 50%
		margin-right: 7px
		font-size: 16px
		i
			color: #2d2b29


@include max-screen($xl)
	.site-footer
		padding-bottom: 62px

@include max-screen($lg)
	.site-footer
		&__col
			width: 50%

@include max-screen($sm)
	.site-footer
		&__row
			display: block
			margin: 0
		&__col
			width: 100%
			padding: 0
		&__title
			margin-bottom: 15px

		.site-tel, .site-address
			margin-bottom: 15px





.storefront-handheld-footer-bar
	background: $white
	a
		font-size: 14px
		color: $color3

.storefront-handheld-footer-bar ul li.search .site-search
	visibility: hidden
	opacity: 0
.storefront-handheld-footer-bar ul li.search.active .site-search
	visibility: visible
	opacity: 1

@include max-screen($xl)
	.storefront-handheld-footer-bar
		display: block !important
	.storefront-handheld-footer-bar ul li.cart 
		> a::before
			content: '\f07a'
		.count
			background: $accent
			color: $white
			border: none



.scroll-up
	position: fixed
	right: 5%
	bottom: 15%
	cursor: pointer
	z-index: 999
	&__ic
		display: flex
		align-items: center
		justify-content: center
		width: 48px
		height: 48px
		background-color: #ddd
		border-radius: 50%
		&::before
			content: '\f062'
			display: block
			height: 1em
			font: 24px/1 'Font Awesome 5 Free'
			opacity: 0.7
			transition: all .2s linear
	&:hover
		.scroll-up__ic
			&::before
				opacity: 0.9
















































	