/* ----- header ----- */

.site-header
	padding: 40px 0 20px
	background: #fff
	color: $black

	.col-full
		display: flex
		align-items: center

	.site-search
		margin: 0 0 0 12%
		width: 360px !important
		.widget_product_search form::before
			left: auto
			right: 16px
			top: 50%
			transform: translateY(-50%)
			color: #262524
			opacity: .75

	.search-field
		height: 36px
		border: 1px solid #eaeaea
		border-radius: 30px
		background-color: $white !important
		box-shadow: none
		color: #acacac
		padding: 10px 34px 10px 15px !important
		font-size: 12px
		font-weight: 300


	.site-tel
		margin-left: auto

	.site-header-cart
		margin-left: auto
	.site-header-favourite
		margin-left: 1em

.logo
	a
		display: block

.site-tel
	font-size: 24px
	font-weight: 600
	i
		margin-right: 0.5em
		color: $color2

.storefront-primary-navigation
	margin-top: 30px

.primary-navigation
	display: block !important

.main-navigation
	font-size: 14px
	a
		font-weight: 300
	ul
		li
			position: static
			a:hover
				color: $color2
		ul a
			padding: 8px 20px !important
			border-radius: 30px
			&:hover
				background: #f4f4f4
	.nav-menu
		> li
			position: relative
			> a
				padding: 10px 1em !important
		> .active
			&::before
				content: ''
				display: block
				height: 3px
				position: absolute
				left: 1em
				right: 1em
				bottom: 0
				z-index: 0
				background: $accent
			@include max-screen($md)
				> a, > span
					color: $accent
				&::before
					display: none




.sublist
	top: calc(100% + 18px) !important
	padding: 15px 0
	background-color: $white
	box-sizing: border-box
	&::before
		content: ''
		display: block
		width: 100%
		height: 18px
		position: absolute
		left: 0
		bottom: 100%
		z-index: 0
	li
		padding: 0 20px
	.--with-sublist
		> a, > span
			padding-right: 40px !important
			position: relative
			&::after
				content: '\f105'
				display: block
				position: absolute
				right: 20px
				top: 8px
				height: 1em
				font: 16px/1 'Font Awesome 5 Free'
				opacity: 0.7
				color: $color2
	a
		width: 222px !important
	.sublist
		height: 100%
		top: 0 !important
		li
			padding-left: 0
		a
			display: inline-block !important
			white-space: nowrap
			width: auto !important
			color: $color2

.sublist-arrow
	display: none
	position: absolute
	right: 20px
	top: 8px
	z-index: 1
	&::after
		content: '\f105'
		display: block
		height: 1em
		font: 16px/1 'Font Awesome 5 Free'
		opacity: 0.7
		color: $color2


button.menu-toggle
	color: $text-color !important
	border-color: $text-color 
	span::before, &::before, &::after
		background-color: $text-color


.site-header-cart
	width: auto !important
	font-size: 12px
	color: $color3
	.amount
		font-weight: 600
		padding-right: 5px
		margin-right: 5px !important
		border-right: 1px solid rgba(#424242, .1)
	.count
		font-size: 1em !important
		opacity: 1 !important
	.cart-contents
		display: flex
		align-items: center
		border-radius: 30px
		padding: 0 0 0 20px !important
		background-color: #f4f4f4
		&::after
			content: '\f07a'
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 40px
			margin-left: 11px
			font-size: 16px
			background: $accent
			border-radius: 50%
			color: $white

.site-header-favourite
	display: flex
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	font-size: 16px
	background: $accent
	border-radius: 50%
	color: $white !important
.favourite-ic
	display: inline-block
	height: 1em
	&::before
		content: '\f004'
		line-height: 1
		font-family: 'Font Awesome 5 Free'
		font-weight: 900

.main-navigation .site-tel
	display: none

.site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message
	margin: 5px 0 0
	padding-left: 20px


.widget_shopping_cart
	background: $white
	.variation
		display: flex
		flex-wrap: wrap
		dt
			margin-right: 10px
		dd
			margin: 0
	.button
		display: flex !important
		height: 36px
		padding: 5px
		font-size: 11px
		&::after
			display: none
	.amount
		border-right: none









@include max-screen($xl)
	.site-header
		padding: 20px 0
	.storefront-primary-navigation
		margin-top: 15px
	.main-navigation
		width: 100% !important

	.site-header .site-search, .site-header .site-header-cart, .site-header .site-header-favourite
		display: none !important

	.site-tel
		font-size: 20px

	.main-navigation
		ul ul, ul li:hover > ul, ul li:hover > ul li:hover > ul
			display: none
			left: 0

		.nav-menu
			> .--with-sublist
				> a, > span
					padding-right: 40px !important
				&::before
					display: none

	.--with-sublist
		position: relative !important
		> a, > span
			padding-right: 40px !important
			&::after
				display: none !important
	.sublist
		&::before
			display: none !important
		.sublist
			height: auto
			left: 100% !important
			top: -15px !important
		.sublist-arrow
			top: 2px
			right: 24px
			transform: rotate(0deg)
		li
			> a, > span
				background: none !important
		.--with-sublist.active 
			> a, > span
				background-color: rgba(0, 0, 0, 0.025) !important
			> .sublist-arrow
				transform: rotate(-180deg)
		
		

	.sublist-arrow
		display: flex
		align-items: center
		justify-content: center
		width: 30px
		height: 30px
		top: 5px
		right: 4px
		transform: rotate(90deg)

	.--with-sublist.toggled
		> .sublist-arrow
			transform: rotate(-90deg)




@include max-screen($lg)
	.main-navigation
		font-size: 12px
	.sublist-arrow
		top: 3px
	.sublist
		.sublist-arrow
			top: 0

		

@include max-screen($md)
	.storefront-primary-navigation
		margin-top: 0

	.main-navigation
		font-size: 14px
		// padding-top: 10px
	
	.site-tel
		font-size: 16px
	.site-header .site-tel
		display: none
	.menu-toggle
		position: absolute !important
		top: 24px
		right: 116px

	.main-navigation
		.nav-menu
			transition-duration: .2s !important
			> li:first-child
				margin-top: 10px
			> .--with-sublist.toggled
				> a, > span
					font-weight: 600
					color: $accent

		.site-tel
			display: flex
			align-items: center
			padding-left: 1em
			i
				margin-right: -.5em
			a
				font-weight: 400


	.sublist
		padding: 0
		li
			padding: 0
		a
			width: 100% !important

		.sublist-arrow
			transform: rotate(90deg)
			right: 4px
			top: 3px

		.--with-sublist.toggled
			> .sublist-arrow
				transform: rotate(-90deg)




	@include max-screen($sm)
		.menu-toggle
			right: 15px







