- var page = "cart"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Корзина

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Корзина

				// /.page-top



				#content.site-content(tabindex='-1')
					.col-full
						.woocommerce
						#primary.content-area
							main#main.site-main(role='main')
								article#post-7.post-7.page.type-page.status-publish.hentry

									.entry-content
										.woocommerce
											.woocommerce-notices-wrapper
											form.woocommerce-cart-form(action='http://wc.stepanweb.ru/cart/', method='post')
												table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents(cellspacing='0')
													thead
														tr
															th.product-thumbnail  
															th.product-name Товар
															th.product-price Цена
															th.product-quantity Количество
															th.product-subtotal Подытог
													tbody
														tr.woocommerce-cart-form__cart-item.cart_item
															td.product-thumbnail
																a(href='http://wc.stepanweb.ru/product/beanie-with-logo/')
																	img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-thumb.png', alt='')
															td.product-name(data-title='Товар')
																a(href='#') Стол кухонный не раскладной из ДСП Дельта Мебель Сервис
															td.product-price(data-title='Цена')
																span.woocommerce-Price-amount.amount
																	bdi
																		| 3999
																		span.woocommerce-Price-currencySymbol ₽
															td.product-quantity(data-title='Количество')

																.quantity
																	label.screen-reader-text(for='quantity_5f509efc2081b') Количество Beanie with Logo
																	.quantity-input
																		span.minus
																			i.fas.fa-angle-left
																		input(type='text', name='quantity', value='1')
																		span.plus
																			i.fas.fa-angle-right

															td.product-subtotal(data-title='Подытог')
																span.woocommerce-Price-amount.amount
																	bdi
																		| 3999
																		span.woocommerce-Price-currencySymbol ₽
																	a.remove(href='#', aria-label='Удалить эту позицию', data-product_id='70', data-product_sku='Woo-beanie-logo')
																	
														tr.woocommerce-cart-form__cart-item.cart_item
															td.product-thumbnail
																a(href='http://wc.stepanweb.ru/product/beanie-with-logo/')
																	img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-thumb.png', alt='')
															td.product-name(data-title='Товар')
																a(href='#') Стол кухонный не раскладной из ДСП Дельта Мебель Сервис
															td.product-price(data-title='Цена')
																span.woocommerce-Price-amount.amount
																	bdi
																		| 3999
																		span.woocommerce-Price-currencySymbol ₽
															td.product-quantity(data-title='Количество')

																.quantity
																	label.screen-reader-text(for='quantity_5f509efc2081b') Количество Beanie with Logo
																	.quantity-input
																		span.minus
																			i.fas.fa-angle-left
																		input(type='text', name='quantity', value='1')
																		span.plus
																			i.fas.fa-angle-right

															td.product-subtotal(data-title='Подытог')
																span.woocommerce-Price-amount.amount
																	bdi
																		| 3999
																		span.woocommerce-Price-currencySymbol ₽
																	a.remove(href='#', aria-label='Удалить эту позицию', data-product_id='70', data-product_sku='Woo-beanie-logo')
																
														tr
															td.actions(colspan='6')
																.flex
																	.coupon
																		label(for='coupon_code') Купон:
																		input#coupon_code.input-text(type='text', name='coupon_code', value='', placeholder='Код купона')
																		button.button.button--color(type='submit', name='apply_coupon', value='Применить купон') Применить
																	button.button.button--color(type='submit', name='update_cart', value='Обновить корзину', disabled='', aria-disabled='true') Пересчитать
																	
																	input#woocommerce-cart-nonce(type='hidden', name='woocommerce-cart-nonce', value='acdc827af7')
																	input(type='hidden', name='_wp_http_referer', value='/cart/')
											.cart-collaterals
												.cart_totals.calculated_shipping
													h3 Сумма заказа
													table.shop_table.shop_table_responsive(cellspacing='0')
														tbody
															tr.cart-subtotal
																th Подытог
																td(data-title='Подытог')
																	span.woocommerce-Price-amount.amount
																		bdi
																			| 3999
																			span.woocommerce-Price-currencySymbol ₽
															tr.woocommerce-shipping-totals.shipping
																th Доставка
																td(data-title='Доставка')
																	ul#shipping_method.woocommerce-shipping-methods
																		li
																			input#shipping_method_0_local_pickup1.shipping_method(type='radio', name='shipping_method[0]', data-index='0', value='local_pickup:1', checked='checked')
																			label(for='shipping_method_0_local_pickup1') Самовывоз - Бесплатно
																		li
																			input#shipping_method_0_custom_flat_rate2.shipping_method(type='radio', name='shipping_method[0]', data-index='0', value='custom_flat_rate:2')
																			label(for='shipping_method_0_custom_flat_rate2')
																				| Доставка - 
																				span.woocommerce-Price-amount.amount
																					bdi
																						| 999
																						span.woocommerce-Price-currencySymbol ₽

															tr.order-total
																th Итого
																td(data-title='Итого')
																	strong
																		span.woocommerce-Price-amount.amount
																			bdi
																				| 3999
																				span.woocommerce-Price-currencySymbol ₽
													.wc-proceed-to-checkout
														a.checkout-button.button.alt.wc-forward.button--color(href='checkout.html')
															| Оформить заказ
									// .entry-content

								// #post-##
							// #main
						// #primary
					// .col-full
				// /.site-content



			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


