- var page = "catalog"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Гостинные / Коллекция 2

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								a(href='/') Каталог

				// /.page-top



				section.section
					.container

						.catalog-slider.category-catalog__slider
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Гостинные
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Детская мебель
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Комоды и тумбы
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
											li
												a(href="#") Коллекция 4
											li
												a(href="#") Коллекция 5
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Шкафы
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
											li
												a(href="#") Коллекция 4
											li
												a(href="#") Коллекция 5
											li
												a(href="#") Коллекция 6
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Прихожие
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Мебель для ванной
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
											li
												a(href="#") Коллекция 4
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#") Мебель для ванной
										ul.catalog-slider__list.list
											li
												a(href="#") Коллекция 1
											li
												a(href="#") Коллекция 2
											li
												a(href="#") Коллекция 3
											li
												a(href="#") Коллекция 4


					// /.container
				// /.advantages


				include pug-modules/advantages

				include pug-modules/how
				

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


