- var page = "category"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page


				.page-top

					.container
						h1 Гостинные / Коллекция 2

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								a(href='/') Каталог
								span.breadcrumb-separator  / 
								a(href='/') Гостинное
								span.breadcrumb-separator  / 
								| Коллеция 2

				// /.page-top


				section.section.section--nopadding.category

					.container

						.category__row.flex
							.category__col
								h2 Гостинные / Коллекция 2

								p.text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
								p.text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."

							// /.category__col

							.category__img
								img.img(src="img/img-category-1.jpg", alt="alt")

						// /.category__row.flex

					// /.container
				// /.category

				section.section.section--nopadding.category-catalog
					.container
						h3 Гостинные

						.catalog-slider.category-catalog__slider
							- var n = 1;
							while n < 8
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src="img/img-catalog-1.jpg", alt="alt")
										.catalog-slider__title
											a(href="#")= 'Коллекция ' + n++


						// /.category-catalog__slider
					// /.container
				// /.category-catalog






				#content.site-content
					.col-full
						.woocommerce

						.storefront-sorting
							form.woocommerce-ordering(method='get')
								select.orderby(name='orderby', aria-label='Заказ в магазине')
									option(value='popularity') Популярные
									option(value='date') Новинки
									option(value='price-desc') Цены по убыванию
									option(value='price') Цены по возрастанию
								input(type='hidden', name='paged', value='1')

							nav.woocommerce-pagination.hide-xl
								ul.page-numbers
									li
										a.prev.page-numbers(href='#') →
									li
										span.page-numbers.current(aria-current='page') 1
									li
										a.page-numbers(href='#') 2
									li
										a.next.page-numbers(href='#') →

							button.filter-button.button Фильтр
						// /.storefront-sorting


						#primary.content-area
							main#main.site-main(role='main')


								ul.products.columns-4

									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить

									li.product.type-product.post-53.status-publish.instock.product_cat-accessories-clothing.has-post-thumbnail.sale.shipping-taxable.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.onsale Распродажа!
											span.price
												del
													span.woocommerce-Price-amount.amount
														bdi
															| 20,00
															span.woocommerce-Price-currencySymbol ₽
												ins
													span.woocommerce-Price-amount.amount
														bdi
															| 18,00
															span.woocommerce-Price-currencySymbol ₽
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added(href='#') В корзине
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить

								// /.products




								.storefront-sorting
									form.woocommerce-ordering(method='get')
										select.orderby(name='orderby', aria-label='Заказ в магазине')
											option(value='popularity') Популярные
											option(value='date') Новинки
											option(value='price-desc') Цены по убыванию
											option(value='price') Цены по возрастанию
										input(type='hidden', name='paged', value='1')

									nav.woocommerce-pagination
										ul.page-numbers
											li
												a.prev.page-numbers(href='#') →
											li
												span.page-numbers.current(aria-current='page') 1
											li
												a.page-numbers(href='#') 2
											li
												a.next.page-numbers(href='#') →

								// /.storefront-sorting
									

							// #main
						// #primary


						#secondary.widget-area(role='complementary', style="display: none;")

							.woof_container
								span.gamma.widget-title.widget-title--noarrow Вы выбрали
								.woof_products_top_panel
									ul
										li
											a(href='', data-tax='', data-slug='')
												span.woof_remove_ppi Цвет
										li
											a(href='', data-tax='', data-slug='')
												span.woof_remove_ppi Цвет

							.widget.WOOF_Widget
								.widget.widget-woof

									.woof.woof_sid.woof_sid_widget(data-sid='widget', data-shortcode="woof sid='widget' autosubmit='-1' start_filtering_btn='0' price_filter='1' redirect='' ajax_redraw='0' btn_position='b' dynamic_recount='-1' ", data-redirect='', data-autosubmit='1', data-ajax-redraw='0')

										.woof_redraw_zone(data-woof-ver='1.2.4')

											.woof_price_search_container.woof_container.woof_price_filter(data-css-class='woof_price_search_container')
												span.gamma.widget-title Цена, 
													span руб.
												.woof_container_overlay_item
												.woof_container_inner.--collasped
													.woocommerce.widget_price_filter
														form(method='get', action='#')
															.price_slider_wrapper
																.price_slider
																.price_slider_amount
																	input#min_price(type='text', name='min_price', value='2', data-min='2', placeholder='Min price', style='display: none;')
																	input#max_price(type='text', name='max_price', value='90', data-max='90', placeholder='Max price', style='display: none;')
																	.price_label(style='')
																		span.from 2₽
																		|  — 
																		span.to 90₽
																	.clear
											div(style='clear:both;')

											// /.woof_container

											.woof_container.woof_container_checkbox.woof_container_pa_size.woof_container_3.woof_container_size(data-css-class='woof_container_pa_size')
												span.gamma.widget-title Цвет
												.woof_container_overlay_item
												.woof_container_inner.woof_container_inner_size.--collasped
													.woof_block_html_items
														ul.woof_list.woof_list_checkbox
															li
																input#woof_28_5f4df00feacc7.woof_checkbox_term.woof_checkbox_term_28(type='checkbox', data-tax='pa_size', name='Орех', data-term-id='28', value='28', checked)
																label.woof_checkbox_label(for='woof_28_5f4df00feacc7')
																	| Орех
																	span.woof_checkbox_count (1)
																input(type='hidden', value='Орех', data-anchor='')
															li
																input#woof_29_5f4df00feacd3.woof_checkbox_term.woof_checkbox_term_29(type='checkbox', data-tax='pa_size', name='Дуб', data-term-id='29', value='29')
																label.woof_checkbox_label(for='woof_29_5f4df00feacd3')
																	| Дуб
																	span.woof_checkbox_count (1)
																input(type='hidden', value='Дуб', data-anchor='')
															li
																input#woof_30_5f4df00feacd9.woof_checkbox_term.woof_checkbox_term_30(type='checkbox', data-tax='pa_size', name='Выбеленый дуб', data-term-id='30', value='30')
																label.woof_checkbox_label(for='woof_30_5f4df00feacd9')
																	| Выбеленый дуб
																	span.woof_checkbox_count (1)
																input(type='hidden', value='Выбеленый дуб', data-anchor='')

													input(type='hidden', name='woof_t_pa_size', value='Товар Size')

													button.filter-more.button Показать еще
										
											// /.woof_container

											.woof_container.woof_container_checkbox.woof_container_pa_size.woof_container_3.woof_container_size.woof_container--gray(data-css-class='woof_container_pa_size')
												span.gamma.widget-title Стиль
												.woof_container_overlay_item
												.woof_container_inner.woof_container_inner_size.--collasped
													.woof_block_html_items
														ul.woof_list.woof_list_checkbox
															li
																input#woof_28_5f4df00feacc71.woof_checkbox_term.woof_checkbox_term_28(type='checkbox', data-tax='pa_size', name='Модерн', data-term-id='28', value='28', checked)
																label.woof_checkbox_label(for='woof_28_5f4df00feacc71')
																	| Модерн
																	span.woof_checkbox_count (1)
																input(type='hidden', value='Модерн', data-anchor='')
															li
																input#woof_29_5f4df00feacd32.woof_checkbox_term.woof_checkbox_term_29(type='checkbox', data-tax='pa_size', name='Хай Тек', data-term-id='29', value='29')
																label.woof_checkbox_label(for='woof_29_5f4df00feacd32')
																	| Хай Тек
																	span.woof_checkbox_count (1)
																input(type='hidden', value='Хай Тек', data-anchor='')
															li
																input#woof_30_5f4df00feacd93.woof_checkbox_term.woof_checkbox_term_30(type='checkbox', data-tax='pa_size', name='Лофт', data-term-id='30', value='30')
																label.woof_checkbox_label(for='woof_30_5f4df00feacd93')
																	| Лофт
																	span.woof_checkbox_count (1)
																input(type='hidden', value='Лофт', data-anchor='')

													input(type='hidden', name='woof_t_pa_size', value='Товар Size')

													button.filter-more.button Показать еще
										
											// /.woof_container

						// #secondary


					// .col-full







			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


