- var page = "checkout"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Оформление

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Оформление

				// /.page-top


				#content.site-content
					.col-full
						#primary.content-area
							main#main.site-main(role='main')
								article#post-8.post-8.page.type-page.status-publish.hentry

										.entry-content
											.woocommerce
												.woocommerce-notices-wrapper
												form.checkout.woocommerce-checkout(name='checkout', method='post', action='http://wc.stepanweb.ru/checkout/', enctype='multipart/form-data', novalidate='novalidate')
													#customer_details.col2-set
														.col-1
															.woocommerce-billing-fields
																h3 Контактная информация
																.woocommerce-billing-fields__field-wrapper
																	p#billing_first_name_field.form-row.form-row-first.thwcfd-field-wrapper.thwcfd-field-text.validate-required(data-priority='10')
																		label(for='billing_first_name')
																			| Имя 
																			abbr.required(title='обязательно') *
																		span.woocommerce-input-wrapper
																			input#billing_first_name.input-text(type='text', name='billing_first_name', placeholder='Имя', value='', autocomplete='given-name')
																	p#billing_last_name_field.form-row.form-row-last.thwcfd-field-wrapper.thwcfd-field-text.validate-required(data-priority='20')
																		label(for='billing_last_name')
																			| Фамилия 
																			abbr.required(title='обязательно') *
																		span.woocommerce-input-wrapper
																			input#billing_last_name.input-text(type='text', name='billing_last_name', placeholder='Фамилия', value='', autocomplete='family-name')

																	p#billing_address_1_field.form-row.address-field.thwcfd-field-wrapper.thwcfd-field-text.form-row-wide(data-priority='50')
																		label(for='billing_address_1')
																			| Адрес 
																			span.optional (необязательно)
																		span.woocommerce-input-wrapper
																			input#billing_address_1.input-text(type='text', name='billing_address_1', placeholder='Номер дома и название улицы', value='', autocomplete='address-line1')

																	p#billing_city_field.form-row.address-field.thwcfd-field-wrapper.thwcfd-field-text.form-row-wide(data-priority='70', data-o_class='form-row form-row-wide address-field thwcfd-field-wrapper thwcfd-field-text')
																		label(for='billing_city')
																			| Населённый пункт 
																			span.optional (необязательно)
																		span.woocommerce-input-wrapper
																			input#billing_city.input-text(type='text', name='billing_city', placeholder='Город', value='', autocomplete='address-level2')

																	p#billing_email_field.form-row.form-row-wide.thwcfd-field-wrapper.thwcfd-field-email.validate-required.validate-email(data-priority='110')
																		label(for='billing_email')
																			| Email 
																			abbr.required(title='обязательно') *
																		span.woocommerce-input-wrapper
																			input#billing_email.input-text(type='email', name='billing_email', placeholder='Email', value='', autocomplete='email username')

																	p#billing_phone_field.form-row.form-row-wide.thwcfd-field-wrapper.thwcfd-field-tel.validate-required.validate-phone(data-priority='100')
																		label(for='billing_phone')
																			| Телефон 
																			abbr.required(title='обязательно') *
																		span.woocommerce-input-wrapper
																			input#billing_phone.input-text(type='tel', name='billing_phone', placeholder='Телефон', value='', autocomplete='tel')
																			
														.col-2
															.woocommerce-additional-fields
																.woocommerce-additional-fields__field-wrapper
																	p#order_comments_field.form-row.notes.thwcfd-field-wrapper.thwcfd-field-textarea(data-priority='')
																		label(for='order_comments')
																			| Примечание к заказу 
																			span.optional (необязательно)
																		span.woocommerce-input-wrapper
																			textarea#order_comments.input-text(name='order_comments', placeholder='Комментарий')
										
													h2#order_review_heading Корзина

													#order_review.woocommerce-checkout-review-order

														table.shop_table.woocommerce-checkout-review-order-table
															thead
																tr
																	th.product-name Товар
																	th.product-total Подытог
															tbody
																tr.cart_item
																	td.product-name Стол 1 х 1 				 
																	td.product-total
																		span.woocommerce-Price-amount.amount
																			bdi
																				| 3999 
																				span.woocommerce-Price-currencySymbol ₽
															tfoot
																tr.cart-subtotal
																	th Подытог
																	td
																		span.woocommerce-Price-amount.amount
																			bdi
																				| 3999
																				span.woocommerce-Price-currencySymbol ₽
																tr.woocommerce-shipping-totals.shipping
																	th Доставка
																	td [*] Самовывоз

																tr.order-total
																	th Итого
																	td
																		strong
																			span.woocommerce-Price-amount.amount
																				bdi
																					| 3999
																					span.woocommerce-Price-currencySymbol ₽
														// /.woocommerce-checkout-review-order-table

														h2 Оплата

														#payment.woocommerce-checkout-payment
															ul.wc_payment_methods.payment_methods.methods
																li.wc_payment_method.payment_method_cod
																	input#payment_method_cod.input-radio(type='radio', name='payment_method', value='cod', checked='checked', data-order_button_text='')
																	label(for='payment_method_cod') Оплата при получении
																li.wc_payment_method.payment_method_cod
																	input#payment_method_online.input-radio(type='radio', name='payment_method', value='online', data-order_button_text='')
																	label(for='payment_method_online') Оплата онлайн

															.form-row.place-order

																button#place_order.button.alt(type='submit', name='woocommerce_checkout_place_order', value='Подтвердить заказ', data-value='Подтвердить заказ') Подтвердить заказ

																input#woocommerce-process-checkout-nonce(type='hidden', name='woocommerce-process-checkout-nonce', value='49373dc7a8')
																
																input(type='hidden', name='_wp_http_referer', value='/?wc-ajax=update_order_review')
													
														// /.woocommerce-checkout-payment
														
										// .entry-content
								// #post-##
							// #main
						// #primary
					// .col-full



			

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


