- var page = "contacts"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Контакты

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Контакты

				// /.page-top




				section.section.contacts

					.container


						h3 Адрес и телефоны:

						.contacts__row.flex

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-map-marker-alt
										| Адрес:

									address.contacts__data 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М

									a.contacts__link(href="#") Схема проезда


								// /.contacts__item

							// /.contacts__col

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-phone-alt
										| Телефоны:

									.contacts__data
										ul.list
											li
												a(href="tel:88007003333") 8 800 700 33 33
											li
												a(href="tel:74953228888") 7 (495) 322 88 88
												small (отдел продаж) 

									a.contacts__link(href="#") Заказать звонок


								// /.contacts__item

							// /.contacts__col

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-envelope
										| E-mail:

									.contacts__data
										a.text-link(href="mailto:info@iprismebel.ru") info@iprismebel.ru

									a.contacts__link(href="#") Написать


								// /.contacts__item

							// /.contacts__col

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-clock
										| Режим работы:

									.contacts__data
										ul.list
											li Пн-Пт: с 10:00 по 19:00,
											li Сб-Вс:  с 11:00 по 18:00

								// /.contacts__item

							// /.contacts__col

						// /.contacts__row.flex

						.requisites
						
							h3 Реквизиты:

							.requisites__row.flex

								.requisites__col

									table.requisites__table
										tr
											th Компания
											td OOO “Иприс Мебель”
										tr
											th Юредический адрес:
											td 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М
										tr
											th Почтовый адрес:
											td 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М
										tr
											th ИНН
											td 7734597835
										tr
											th КПП
											td 421025762

									// /.requisites__table
								// /.requisites__col

								.requisites__col

									table.requisites__table
										tr
											th р/с №
											td 30214899700351027529
										tr
											th Корр. сч:
											td 130032218795428556014
										tr
											th БИК банка
											td 142563557
										tr
											th Телефон
											td 8 800 700 33 33
										tr
											th E-mail:
											td info@iprismebel.ru
										tr
											th Директор
											td Алексеев Анатолий Анатолиевич

									// /.requisites__table
								// /.requisites__col

							// /.requisites__row

						// /.requisites

		
						div.contacts-map(style='position:relative;overflow:hidden;')
							a(href='https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps', style='color:#eee;font-size:12px;position:absolute;top:0px;') Санкт‑Петербург
							a(href='https://yandex.ru/maps/2/saint-petersburg/house/ulitsa_latyshskikh_strelkov_31/Z0kYcgNoTUMPQFtjfXVydH5mbQ==/?ll=30.454368%2C59.934810&utm_medium=mapframe&utm_source=maps&z=13.29', style='color:#eee;font-size:12px;position:absolute;top:14px;') Улица Латышских Стрелков, 31 — Яндекс.Карты
							iframe(src='https://yandex.ru/map-widget/v1/-/CCQxMNwblA', frameborder='1', allowfullscreen='true', style='position:relative;')




					// /.container

				// /.section







			

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


