- var page = "delivery"
- var fancybox = true

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Доставка и оплата

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Доставка и оплата

				// /.page-top




				section.section.page-content

					.container


						h1 Доставка

						.delivery-img
							img.img(src="img/img-delivery-1.jpg", alt="alt")

						h2 Санкт-Петербург

						p Стоимость доставки мебели по г. Санкт-Петербургу в пределах Зеленой Зоны<br> (отмеченной на карте):

						p
							b 1000 рублей

						p
							b Доставка: 
							| Пн - Сб 10:00 - 21:00<br> 
							| Звонок курьера за 1 час до доставки.

						p Подъем мебели оплачивается отдельно. Стоимость подъема мебели зависит от наличия или отсутствия лифта, а также категории мебели. Точную стоимость подъема Вы можете уточнить у менеджера при оформлении заказа.

						p
							b Доставка осуществляется до подъезда*

						p *До подъезда- доставка до места, куда максимально близко может подъехать грузовой транспорт. Если проезду транспорта мешают закрытые территории, низкие арки, шлагбаумы и прочие препятствия, то доставка осуществляется до препятствия.

						p В случае, если подъезд к парадной невозможен на максимально близкое расстояние, разгрузка заказа вручную осуществляется за дополнительную плату.

						p Доставка товара осуществляется посредством курьерской службы 
							b ИП Созыкин Руслан Игоревич 
							span.color-2 ИНН 032609034190

						h2 Ленобласть и пригород
						p Таблица стоимости доставки в основные населенные пункты Лен. области и пригороды Санкт-Петербурга.
						p Если населенный пункт не указан в списке, стоимость доставки составляет 
							b 30 руб/км.
						p Также точную стоимость доставки до конкретного населенного пункта можно уточнить у 
							b менеджера по телефону 8 (952) 392-19-56
						
						h2 Самовывоз
						p Доставка заказов в пункт самовывоза осуществляется только после согласования заказа с менеджером по телефону и 100% предварительной оплаты.
						p
							b Адрес пункта выдачи заказов (для самовывоза):
						address г. Санкт-Петербург, пр. Латышских стрелков, д. 31, к. 4
						span Пн - Пт 10:00 - 18:00


						
						div.delivery-map(style='position:relative;overflow:hidden;')
							a(href='https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps', style='color:#eee;font-size:12px;position:absolute;top:0px;') Яндекс.Карты
							a(href='https://yandex.ru/maps/?ll=30.053794%2C59.952440&mode=usermaps&source=constructorLink&um=constructor%3A7986cc5ae90fb13489797c95c6a77e989da79be9f6721e6168ec8a809bd9e792&utm_medium=mapframe&utm_source=maps&z=8.97', style='color:#eee;font-size:12px;position:absolute;top:14px;') Яндекс.Карты
							iframe(src='https://yandex.ru/map-widget/v1/-/CCQxM0UcSD', frameborder='1', allowfullscreen='true', style='position:relative;')



					// /.container

				// /.section


				section.section.page-content

					.container


						.shipment.flex

							h2.ftitle Как проехать к месту погрузки:

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-1-big.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-1.jpg", alt="alt")
								.shipment__txt 1. Двигаясь по улице Зольной в сторону Латышских стрелков

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-3.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-2.jpg", alt="alt")
								.shipment__txt 2. Проехать прямо по светофору в сторону здания, где большими буквами написано «МАШОПТТОРГ»

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-3.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-3.jpg", alt="alt")
								.shipment__txt 3. Поворачиваете направо на проездную

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-4.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-4.jpg", alt="alt")
								.shipment__txt 4. На проездной выписать пропуск на ИП Созыкин и проехать через шлагбаум (заранее позвонив менеджеру)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-5.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-5.jpg", alt="alt")
								.shipment__txt 5. После того как проехали через шлагбаум движетесь прямо до первого перекрестка

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-6.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-6.jpg", alt="alt")
								.shipment__txt 6. Слева на перекрестке находится здание мебельной фабрики «Иприс» (на здании висит большая табличка с номером корпуса «4», напротив здание «Комус»)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-7.jpg", data-fancybox="shipment-car", data-caption="")
										img.img(src="img/shipment/shipment-car-7.jpg", alt="alt")
								.shipment__txt 7. Далее подходите к красной двери и звонитесь в домофон, после ответа – заходите. По приезду можно позвонить менеджеру, который к Вам спуститься и встретит Вас.

							// /.shipment__item
							
						// /.shipment







						.shipment.flex

							h2.ftitle Как пройти к месту погрузки в случае, если Вы пешком:

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-1-big.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-car-1.jpg", alt="alt")
								.shipment__txt 1.  Двигаясь по улице Зольной в сторону Латышских стрелков (можно пройти по улице Латышских стрелков)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-walk-2.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-walk-2.jpg", alt="alt")
								.shipment__txt 2.  На светофоре поворачиваете направо и движетесь вперед в сторону улицы Ворошилова

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-walk-3.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-walk-3.jpg", alt="alt")
								.shipment__txt 3.  Слева от Вас будет проходная, рядом со входом висит синяя табличка «ООО ОККЕРВИЛЬ», проходите во внутрь (справа от входа кафе «Snack Rrom»)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-walk-4.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-walk-4.jpg", alt="alt")
								.shipment__txt 4.  Далее проходите через проходную на улицу (на посту охраны говорите, что Вы идете в организацию ИП Созыкин)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-walk-5.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-walk-5.jpg", alt="alt")
								.shipment__txt 5.  Выйдя на территорию, поворачивайте направо и идите вдоль синего здания (на здании висит большая синяя табличка «14 корпус»)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-walk-6.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-walk-6.jpg", alt="alt")
								.shipment__txt 6.  Дойдя до конца синего здания, поверните налево и идите прямо через железнодорожные пути

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-walk-7.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-walk-7.jpg", alt="alt")
								.shipment__txt 7.  Далее пройдите прямо к зданию справа мебельной фабрики «Иприс» (на здании висит большая табличка с номером корпуса «4», напротив здание «Комус»)

							// /.shipment__item

							.shipment__item
								.shipment__img
									a(href="img/shipment/shipment-car-7.jpg", data-fancybox="shipment-walk", data-caption="")
										img.img(src="img/shipment/shipment-car-7.jpg", alt="alt")
								.shipment__txt 8.  Далее подходите к красной двери и звонитесь в домофон, после ответа – заходите. По приезду можно позвонить менеджеру, который к Вам спуститься и встретит Вас.

							// /.shipment__item
							
						// /.shipment


					// /.container

				// /.section

			

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


