- var page = "main"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

			
				section.hero
					.container
						
						.hero-slider
							
							.slide

								.hero-slide

									.hero-title Мебель для&nbsp;гостинной
									.hero-subtitle Все коллекция 2020 года

									a.button.button--white(href="catalog.html") Перейти в каталог

									img.hero-img(src="img/img-hero-1.jpg", alt="alt")
									
							.slide

								.hero-slide

									.hero-title Мебель для&nbsp;гостинной 2
									.hero-subtitle Все коллекция 2020 года

									a.button.button--white(href="catalog.html") Перейти в каталог

									img.hero-img(src="img/img-hero-1.jpg", alt="alt")

							.slide

								.hero-slide

									.hero-title Мебель для&nbsp;гостинной 3
									.hero-subtitle Все коллекция 2020 года

									a.button.button--white(href="catalog.html") Перейти в каталог

									img.hero-img(src="img/img-hero-1.jpg", alt="alt")

						// /.hero-slider

					// /.container
				// /.hero



				section.section.main-catalog
					.container

						h2.section-title Каталог

						.catalog-slider.main-catalog__slider
							- var catalogSlides = [{"imgPath": "img/img-catalog-1.jpg", "title": "Гостинные"}, {"imgPath": "img/img-catalog-2.jpg", "title": "Детская мебель"}, {"imgPath": "img/img-catalog-3.jpg", "title": "Комоды и тумбы"}, {"imgPath": "img/img-catalog-4.jpg", "title": "Шкафы"}, {"imgPath": "img/img-catalog-5.jpg", "title": "Прихожие"}, {"imgPath": "img/img-catalog-5.jpg", "title": "Прихожие"}];
							each slide in catalogSlides
								.slide
									.catalog-slider__slide
										.catalog-slider__img
											a(href="#")
												img.img(src=slide.imgPath, alt="alt")
										.catalog-slider__title
											a(href="#")= slide.title


						// /.main-catalog__slider

					// /.container
				// /.main-catalog



				include pug-modules/advantages

				include pug-modules/how


				section.section.about

					.container
						
						.section__row.flex
							.section__col
								.section__content
									.about__title
										.title-1.tt-uppercase Иприс
										.color-2 Мебельная фабрика
									p.text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, чтотот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию.

									a.button.hide-lg(href="#") Подробнее

								// /.section__content
							// /.section__col

							.section__col
								.section__img
									img.img(src="img/img-section-1.jpg", alt="alt")
							// /.section__col

							a.button.show-lg(href="#") Подробнее


						// /.section__row.flex

					// /.container

				// /.about

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


