- var page = "news"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Новости

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Новости

				// /.page-top




				section.section.news

					.container

						.news__row.flex
							- var n = 1;
							while n < 7
								.news__col
									.news__item
										.news__title 
											a(href="page.html") Классический текст Lorem Ipsum, используемый с XVI века
										.news__date
											i.fas.fa-calendar-alt
											span 14 августа 2020

										.flex
											.news__img
												a(href="#")
													img.img(src="img/img-catalog-1.jpg", alt="alt")
											.news__content
												.news__txt= 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее ...' + n++
												a.button.button--color(href="page.html") Подробнее
												
								// /.news__col

						// /.news__row.flex

						nav.woocommerce-pagination
							ul.page-numbers
								li
									a.prev.page-numbers(href='#') →
								li
									span.page-numbers.current(aria-current='page') 1
								li
									a.page-numbers(href='#') 2
								li
									a.page-numbers(href='#') 3
								li
									a.next.page-numbers(href='#') →


					// /.container

				// /.section







			

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


