- var page = "page"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Текстовая страница

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Текстовая страница

				// /.page-top



				section.section.page-content

					.container
						
						.section__row.flex
							.section__col
								.section__content
										h1 [H1] Что такое Lorem Ipsum?
										p
											b Lorem Ipsum 
											| - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий 
											a(href="#") безымянный печатник 
											| создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.

										p Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

								// /.section__content
							// /.section__col

							.section__col
								.section__img
									img.img(src="img/img-section-1.jpg", alt="alt")
							// /.section__col


						// /.section__row.flex

					// /.container

				// /.section


				section.section.page-content

					.container

						h2 [H2] Почему он используется?
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
						
						h3 [H3] Маркированый список:
						ul
							li многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так;
							li его корни уходят в один фрагмент классической латыни 45 года н.э.,;
							li то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни;
							li из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.

						h2 [H2] Почему он используется?
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.

						h3 [H3] Нумерованый список
						p 
							i Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться:
						ol
							li Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки.
							li Слова, которые даже отдалённо не напоминают латынь.
							li Если вам нужен Lorem Ipsum для серьёзного проекта,
							li Наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.

						h4 [H4] Демонстрация заголовка
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
						blockquote Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

					// /.container

				// /.section


			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


