- var page = "product"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Корзина

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								a(href='catalog.html') Каталог
								span.breadcrumb-separator  / 
								a(href='category.html') Гостинные
								span.breadcrumb-separator  / 
								a(href='#') Коллеция 2
								span.breadcrumb-separator  / 
								| Стол 1

				// /.page-top


				main#main.site-main.section(role='main')

					.container

						.woocommerce-notices-wrapper

						#product-70.product.type-product.post-70.status-publish.first.instock.product_cat-accessories-clothing.has-post-thumbnail.sale.shipping-taxable.purchasable.product-type-simple
						

							.product-header
								h1.product_title.entry-title Стол 1 для гостинной с стульями
								span.onsale Распродажа!

							.product-row.flex

								.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images(data-columns='4')
									figure.woocommerce-product-gallery__wrapper
										.woocommerce-product-gallery__image(data-thumb='img/img-product.jpg', data-thumb-alt='')
											a(href='#')
												img.wp-post-image(src='img/img-product.jpg', alt='')

										.woocommerce-product-gallery__image(data-thumb='img/img-product.jpg', data-thumb-alt='')
											a(href='#')
												img.wp-post-image(src='img/img-product.jpg', alt='')

										.woocommerce-product-gallery__image(data-thumb='img/img-product.jpg', data-thumb-alt='')
											a(href='#')
												img.wp-post-image(src='img/img-product.jpg', alt='')

										.woocommerce-product-gallery__image(data-thumb='img/img-product.jpg', data-thumb-alt='')
											a(href='#')
												img.wp-post-image(src='img/img-product.jpg', alt='')

									.site-header-favourite
										a.favourite-ic(href='#')

								// /.woocommerce-product-gallery
								
								.summary.entry-summary
									
									p.price
										ins
											span.woocommerce-Price-amount.amount
												bdi
													| 3 999
													span.woocommerce-Price-currencySymbol ₽
										del
											span.woocommerce-Price-amount.amount
												bdi
													| 1 999
													span.woocommerce-Price-currencySymbol ₽

									.product-property
										.product-property__title Цвет
										form.product-property__select(method='get')
											select.orderby(name='value')
												option(value='Орех') Орех
												option(value='Орех 2') Орех 2
												option(value='Орех 3') Орех 3
												option(value='Орех 4') Орех 4

									form.cart(action='#', method='post', enctype='multipart/form-data')

										.quantity
											label.screen-reader-text(for='quantity_5f50b64527fcb') Количество Beanie with Logo
											.quantity-input
												span.minus
													i.fas.fa-angle-left
												input(type='text', name='quantity', value='1')
												span.plus
													i.fas.fa-angle-right

										button.single_add_to_cart_button.button.alt(type='submit', name='add-to-cart', value='70') В корзину

									.product_meta
										span.sku_wrapper
											b Артикул: 
											span.sku 225764
										span.posted_in
											b Категория: 
											a(href='http://wc.stepanweb.ru/product-category/clothing/accessories-clothing/', rel='tag') гостинные

									p.text Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
								
								// /.summary.entry-summary

							// /.product-row



							section.section.section--nopadding.category-catalog
								.container
									h3 Гостинные

									.catalog-slider.category-catalog__slider
										- var n = 1;
										while n < 8
											.slide
												.catalog-slider__slide
													.catalog-slider__img
														a(href="#")
															img.img(src="img/img-catalog-1.jpg", alt="alt")
													.catalog-slider__title
														a(href="#")= 'Коллекция ' + n++


									// /.category-catalog__slider
								// /.container
						
							// /.category-catalog



							.woocommerce-tabs.wc-tabs-wrapper
								ul.tabs.wc-tabs(role='tablist')
									li#tab-title-description.description_tab.active(role='tab', aria-controls='tab-description')
										a(href='#tab-description')
											| Описание
									li#tab-title-additional_information.additional_information_tab(role='tab', aria-controls='tab-additional_information')
										a(href='#tab-additional_information')
											| Детали
									li#tab-title-reviews.reviews_tab(role='tab', aria-controls='tab-reviews')
										a(href='#tab-reviews')
											| Отзывы (0)
								#tab-description.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab(role='tabpanel', aria-labelledby='tab-title-description')
									table
										thead
											tr
												th Title
												th Title
												th Title
										tbody
											tr
												td(data-title="Title") The Wizard of Oz
												td(data-title="Title") The Wizard of Oz
												td(data-title="Title") The Wizard of Oz
											tr
												td(data-title="Title") The Wizard of Oz
												td(data-title="Title") The Wizard of Oz
												td(data-title="Title") The Wizard of Oz
											tr
												td(data-title="Title") The Wizard of Oz
												td(data-title="Title") The Wizard of Oz
												td(data-title="Title") The Wizard of Oz


								#tab-additional_information.woocommerce-Tabs-panel.woocommerce-Tabs-panel--additional_information.panel.entry-content.wc-tab(role='tabpanel', aria-labelledby='tab-title-additional_information')
									table
										thead
											tr
												th Title
												th Title
												th Title
										tbody
											tr
												td(data-title="Title") The Third man
												td(data-title="Title") The Third man
												td(data-title="Title") The Third man
											tr
												td(data-title="Title") The Third man
												td(data-title="Title") The Third man
												td(data-title="Title") The Third man
											tr
												td(data-title="Title") The Third man
												td(data-title="Title") The Third man
												td(data-title="Title") The Third man

								#tab-reviews.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab(role='tabpanel', aria-labelledby='tab-title-reviews')
									#reviews.woocommerce-Reviews
										#comments
											p.woocommerce-noreviews Отзывов пока нет.
										#review_form_wrapper
											#review_form
												#respond.comment-respond
													span#reply-title.comment-reply-title
														| Будьте первым, кто оставил отзыв на “Beanie with Logo” 
														small
															a#cancel-comment-reply-link(rel='nofollow', href='/product/beanie-with-logo/#respond', style='display:none;') Отменить ответ
													p.must-log-in
														| Для отправки отзыва вам необходимо 
														a(href='http://wc.stepanweb.ru/my-account/') авторизоваться
														| .
												// #respond
										.clear
							// /.woocommerce-tabs


							section.related.products
								h2 Похожие товары
								ul.products.columns-4

									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить

									li.product.type-product.post-53.status-publish.instock.product_cat-accessories-clothing.has-post-thumbnail.sale.shipping-taxable.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.onsale Распродажа!
											span.price
												del
													span.woocommerce-Price-amount.amount
														bdi
															| 20,00
															span.woocommerce-Price-currencySymbol ₽
												ins
													span.woocommerce-Price-amount.amount
														bdi
															| 18,00
															span.woocommerce-Price-currencySymbol ₽
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added(href='#') В корзине
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить
								
									li.product.type-product.post-61.status-publish.first.onbackorder.product_cat-music.has-post-thumbnail.downloadable.virtual.purchasable.product-type-simple
										a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='#')
											img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='img/img-category-1.jpg', alt='alt')
											h2.woocommerce-loop-product__title Стол 1 для гостинной с стульями
											span.price
												span.woocommerce-Price-amount.amount
													bdi 15 999
														span.woocommerce-Price-currencySymbol ₽
										.site-header-favourite
											a.favourite-ic(href='#')
										a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#') Купить

								// /.products
						
						
							// /.related

					// /.container

				// #main




			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		


