section.section.advantages
	.container

		h2.section-title Почему мы?

		.advantages__row.flex
			- var advantages = [{"imgPath": "img/ic-advantages-1.png", "title": "Низкие цены"}, {"imgPath": "img/ic-advantages-2.png", "title": "Быстрая доставка и сборка"}, {"imgPath": "img/ic-advantages-3.png", "title": "Товары в наличии"}, {"imgPath": "img/ic-advantages-4.png", "title": "Удобные способы оплаты"}, {"imgPath": "img/ic-advantages-5.png", "title": "Гарантия"}];
			each item in advantages
				.advantages__col
					.advantages__item
						.advantages__ic
							img.img(src=item.imgPath, alt="alt")
						.advantages__name= item.title


		// /.advantages__row


	// /.container
// /.advantages