footer.site-footer

	.container

		.site-footer__row.flex

			.site-footer__col

				.site-footer__title Каталог

				ul.site-footer__list.list
					li
						a.site-footer__link(href="category.html") Гостинные
					li
						a.site-footer__link(href="category.html") Детская мебель
					li
						a.site-footer__link(href="category.html") Комоды и тумбы
					li
						a.site-footer__link(href="category.html") Шкафы
					li
						a.site-footer__link(href="category.html") Прихожые

			// /.site-footer__col

			.site-footer__col

				.site-footer__title О нас

				ul.site-footer__list.list
					li
						a.site-footer__link(href="contacts.html") Контакты
					li
						a.site-footer__link(href="news.htm") Новости

			// /.site-footer__col

			.site-footer__col

				.site-footer__title Заказ

				ul.site-footer__list.list
					li
						a.site-footer__link(href="checkout.html") Оформление заказа
					li
						a.site-footer__link(href="delivery.html") Доставка и оплата
					li
						a.site-footer__link(href="page.html") Сборка
					li
						a.site-footer__link(href="page.html") Гарантия

			// /.site-footer__col

			.site-footer__col

				.site-footer__title Контакты

				.site-tel
					i.fas.fa-phone-alt
					a(href="tel:88007003333") 8 800 700 33 33

				address.site-address
					i.fas.fa-map-marker-alt
					span 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер&nbsp;М

				.site-email
					i.fas.fa-envelope
					a(href="mailto:info@iprismebel.ru") info@iprismebel.ru

				ul.social-links.list.flex
					li
						a.social-link(href="#", target="_blank")
							i.fab.fa-vk
					li
						a.social-link(href="#", target="_blank")
							i.fab.fa-facebook-f
					li
						a.social-link(href="#", target="_blank")
							i.fab.fa-youtube

			// /.site-footer__col

		// /.site-footer__row

	// /.container

	.copy
		.container
			p &copy; 2020 
				span.color-accent Иприс Мебель.
				| Все права защищены
		// /.container
	// /.copy


	.storefront-handheld-footer-bar
		ul.columns-3
			li.site-footer-favourite
				a.favourite-ic(href="#")
			li.search
				a(href='') Поиск
				.site-search
					.widget.woocommerce.widget_product_search
						form.woocommerce-product-search(role='search', method='get', action='http://wc.stepanweb.ru/')
							label.screen-reader-text(for='woocommerce-product-search-field-1') Искать:
							input#woocommerce-product-search-field-1.search-field(type='search', placeholder='Поиск по товарам…', value='', name='s')
							button(type='submit', value='Поиск') Поиск
							input(type='hidden', name='post_type', value='product')
			li.cart
				a.footer-cart-contents(href='http://wc.stepanweb.ru/cart/', title='Посмотреть вашу корзину')
					span.count 1

.scroll-up(style='display: none;')
	.scroll-up__ic





















