head

	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="")
	meta(name="author" content="")
	//- meta(name="robots", content="noindex, nofollow")

	//- link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png")
	//- link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
	//- link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
	//- link(rel="manifest" href="img/favicon/site.webmanifest")
	//- link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")
	//- link(rel="shortcut icon" href="img/favicon/favicon.ico")
	//- meta(name="msapplication-TileColor" content="#da532c")
	//- meta(name="msapplication-config" content="img/favicon/browserconfig.xml")
	//- meta(name="theme-color" content="#ffffff")

	- var currentPage = page
	case currentPage
		when "main"
			title Иприс - Главная
		when "catalog"
			title Иприс - Каталог
		when "category"
			title Иприс - Категория
		when "product"
			title Иприс - Страница товара
		when "cart"
			title Иприс - Корзина
		when "checkout"
			title Иприс - Оформление заказа
		when "news"
			title Иприс - Новости
		when "contacts"
			title Иприс - Контакты
		when "delivery"
			title Иприс - Доставка и оплата
		when "page"
			title Иприс - Текстовая страница
		default 
			title Иприс - мебельная фабрика
	
	
	// Стили темы
	link#wp-block-library-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-includes/css/dist/block-library/style.css', media='all')

	link#wp-block-library-theme-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-includes/css/dist/block-library/theme.css', media='all')

	link#wc-block-vendors-style-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css', media='all')

	link#wc-block-style-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css', media='all')

	link#storefront-gutenberg-blocks-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/css/base/gutenberg-blocks.css', media='all')

	//- link#contact-form-7-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/contact-form-7/includes/css/styles.css', media='all')

	link#woof-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/css/front.css', media='all')

	link#chosen-drop-down-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.min.css', media='all')

	link#charitable-styles-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/charitable/assets/css/charitable.css', media='all')

	link#storefront-style-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/themes/storefront/style.css', media='all')

	link#storefront-icons-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/css/base/icons.css', media='all')

	link#storefront-woocommerce-style-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/css/woocommerce/woocommerce.css', media='all')




	// Стили пользовательские

	if fancybox == true
	// fancybox.js
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css", integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==", crossorigin="anonymous")

	link(rel="stylesheet" href="css/custom.css")

	// удалить
	style.
		@font-face {
		font-family: 'Font Awesome 5 Brands';
		font-style: normal;
		font-weight: 400;
		font-display: block;
		src: url("fonts/fontawesome/fa-brands-400.eot");
		src: url("fonts/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("fonts/fontawesome/fa-brands-400.woff") format("woff"), url("fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("fonts/fontawesome/fa-brands-400.svg#fontawesome") format("svg"); }

		@font-face {
		font-family: 'Font Awesome 5 Free';
		font-style: normal;
		font-weight: 900;
		font-display: block;
		src: url("fonts/fontawesome/fa-solid-900.eot");
		src: url("fonts/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("fonts/fontawesome/fa-solid-900.woff") format("woff"), url("fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("fonts/fontawesome/fa-solid-900.svg#fontawesome") format("svg"); }



	script(
	src="https://code.jquery.com/jquery-3.4.1.min.js", 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", 
	crossorigin="anonymous")

	script(src='http://wc.stepanweb.ru/wp-content/plugins/charitable/assets/js/libraries/js-cookie.js?ver=2.1.4')

	script(type='text/javascript').
		var woof_is_permalink =1;
		var woof_shop_page = "";
		var woof_really_curr_tax = {};
		var woof_current_page_link = location.protocol + '//' + location.host + location.pathname;
		woof_current_page_link = woof_current_page_link.replace(/\\page\/[0-9]+/, "");
		woof_current_page_link = "http://wc.stepanweb.ru/shop/";
		var woof_link = 'http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/';
	script.
		var woof_ajaxurl = "http://wc.stepanweb.ru/wp-admin/admin-ajax.php";
		var woof_lang = {
		'orderby': "orderby",
		'date': "date",
		'perpage': "per page",
		'pricerange': "price range",
		'menu_order': "menu order",
		'popularity': "popularity",
		'rating': "rating",
		'price': "price low to high",
		'price-desc': "price high to low"
		};
		if (typeof woof_lang_custom == 'undefined') {
		var woof_lang_custom = {};/*!!important*/
		}
		//***
		var woof_is_mobile = 0;
		var woof_show_price_search_button = 0;
		var woof_show_price_search_type = 0;
		woof_show_price_search_button = 1;
		var woof_show_price_search_type = 1;
		var swoof_search_slug = "swoof";
		var icheck_skin = {};
		icheck_skin = 'none';
		var is_woof_use_chosen =1;
		var woof_current_values = '[]';
		//+++
		var woof_lang_loading = "Loading ...";
		var woof_lang_show_products_filter = "show products filter";
		var woof_lang_hide_products_filter = "hide products filter";
		var woof_lang_pricerange = "price range";
		//+++
		var woof_use_beauty_scroll =0;
		//+++
		var woof_autosubmit =1;
		var woof_ajaxurl = "http://wc.stepanweb.ru/wp-admin/admin-ajax.php";
		/*var woof_submit_link = "";*/
		var woof_is_ajax = 0;
		var woof_ajax_redraw = 0;
		var woof_ajax_page_num =1;
		var woof_ajax_first_done = false;
		var woof_checkboxes_slide_flag = true;
		//toggles
		var woof_toggle_type = "text";
		var woof_toggle_closed_text = "-";
		var woof_toggle_opened_text = "+";
		var woof_toggle_closed_image = "http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/img/plus3.png";
		var woof_toggle_opened_image = "http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/img/minus3.png";
		//indexes which can be displayed in red buttons panel
		var woof_accept_array = ["min_price", "orderby", "perpage", "min_rating","product_visibility","product_cat","product_tag","pa_color","pa_size"];
		//***
		//for extensions
		var woof_ext_init_functions = null;
		var woof_overlay_skin = "default";
		jQuery(function () {
		try
		{
		woof_current_values = jQuery.parseJSON(woof_current_values);
		} catch (e)
		{
		woof_current_values = null;
		}
		if (woof_current_values == null || woof_current_values.length == 0) {
		woof_current_values = {};
		}
		});
		function woof_js_after_ajax_done() {
		jQuery(document).trigger('woof_ajax_done');
		}
