header#masthead.site-header(role='banner')
	.col-full

		.logo
			if page == "main"
				img(src="img/logo.png", alt="alt")
			else
				a(href="/")
					img(src="img/logo.png", alt="alt")

		.site-search
			.widget.woocommerce.widget_product_search
				form.woocommerce-product-search(role='search', method='get', action='')
					label.screen-reader-text(for='woocommerce-product-search-field-0') Искать:
					input#woocommerce-product-search-field-0.search-field(type='search', placeholder='Поиск по товарам…', value='', name='s')
					button(type='submit', value='Поиск') Поиск
					input(type='hidden', name='post_type', value='product')
		
		.site-tel
			i.fas.fa-phone-alt
			a(href="tel:88007003333") 8 800 700 33 33


	.storefront-primary-navigation
		.col-full
			nav#site-navigation.main-navigation(role='navigation', aria-label='Основное меню')
				button.menu-toggle(aria-controls='site-navigation', aria-expanded='false')
					span Меню
				.primary-navigation
					ul#menu-primary.menu.nav-menu(aria-expanded='false')
						li(class=page=="main" ? "active" : "")
							a(href='index.html') Главная
						li(class="--with-sublist", class=page=="catalog" ? "active" : "")
							a(href='catalog.html') Каталог
							ul.sublist
								li.--with-sublist
									a(href="category.html") Гостинные
									ul.sublist
										li
											a(href="#") Коллекция 1
										li
											a(href="#") Коллекция 2
										li
											a(href="#") Коллекция 3
										li
											a(href="#") Коллекция 4
										li
											a(href="#") Коллекция 5

								li.--with-sublist
									a(href="category.html") Детская мебель
									ul.sublist
										li
											a(href="#") Коллекция фывап 1
										li
											a(href="#") Коллекция фывап 2
										li
											a(href="#") Коллекция фывап 3
										li
											a(href="#") Коллекция фывап 4
										li
											a(href="#") Коллекция фывап 5
								li.--with-sublist
									a(href="category.html") Комоды и тумбы
									ul.sublist
										li
											a(href="#") Коллекция фывфывфыв 1
										//- li
										//- 	a(href="#") Коллекция фывфывфыв 2
										//- li
										//- 	a(href="#") Коллекция фывфывфыв 3
										//- li
										//- 	a(href="#") Коллекция фывфывфыв 4
										//- li
										//- 	a(href="#") Коллекция фывфывфыв 5
								li.--with-sublist
									a(href="category.html") Шкафы
									ul.sublist
										li
											a(href="#") Коллекция 1
										li
											a(href="#") Коллекция 2
										li
											a(href="#") Коллекция 3
										li
											a(href="#") Коллекция 4
										li
											a(href="#") Коллекция 5
								li.--with-sublist
									a(href="category.html") Прихожие
									ul.sublist
										li
											a(href="#") Коллекция 1
										li
											a(href="#") Коллекция 2
										li
											a(href="#") Коллекция 3
										li
											a(href="#") Коллекция 4
										li
											a(href="#") Коллекция 5
						li(class=page=="checkout" ? "active" : "")
							a(href='checkout.html') Оформление заказа
						li(class=page=="delivery" ? "active" : "")
							a(href='delivery.html') Доставка и оплата
						li
							a(href='page.html') Сборка
						li(class=page=="news" ? "active" : "")
							a(href='news.html') Новости
						li(class=page=="contacts" ? "active" : "")
							a(href='contacts.html') Контакты
						li.site-tel
							i.fas.fa-phone-alt
							a(href="tel:88007003333") 8 800 700 33 33

			// #site-navigation

			ul#site-header-cart.site-header-cart.menu
				li
					a.cart-contents(href='cart/', title='Посмотреть вашу корзину')
						span.woocommerce-Price-amount.amount
							| 10 500
							span.woocommerce-Price-currencySymbol ₽
						span.count 1 товар

				li
					.widget.woocommerce.widget_shopping_cart
						.widget_shopping_cart_content
							ul.woocommerce-mini-cart.cart_list.product_list_widget
								li.woocommerce-mini-cart-item.mini_cart_item
									a.remove.remove_from_cart_button(href='http://wc.stepanweb.ru/cart/?remove_item=38e798a1587e3165bc8e336ae84c1058&_wpnonce=519b90139f', aria-label='Удалить эту позицию', data-product_id='49', data-cart_item_key='38e798a1587e3165bc8e336ae84c1058', data-product_sku='woo-vneck-tee-green') ×
									a(href='http://wc.stepanweb.ru/product/v-neck-t-shirt/?attribute_pa_color=green&attribute_pa_size=large')
										img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='324', height='324', src='http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-324x324.jpg', alt='', srcset='http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-324x324.jpg 324w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-300x300.jpg 300w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-150x150.jpg 150w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-768x768.jpg 768w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-416x416.jpg 416w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-100x100.jpg 100w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1.jpg 800w', sizes='(max-width: 324px) 100vw, 324px')
										| V-Neck T-Shirt - Green
									dl.variation
										dt.variation-Size Size:
										dd.variation-Size
											p Large
									span.quantity
										| 2 × 
										span.woocommerce-Price-amount.amount
											bdi
												| 20,00
												span.woocommerce-Price-currencySymbol ₽
							p.woocommerce-mini-cart__total.total
								strong Подытог:
								span.woocommerce-Price-amount.amount
									bdi
										| 40,00
										span.woocommerce-Price-currencySymbol ₽
							p.woocommerce-mini-cart__buttons.buttons
								a.button.wc-forward(href='cart.html') Просмотр корзины
								a.button.checkout.wc-forward(href='checkout.html') Оформление заказа


			.site-header-favourite
				a.favourite-ic(href="#")

