section.section.how
	.container

		h2.section-title Как мы работаем:

		.how__inner

			.how__row.flex
				- var how = [{"imgPath": "img/ic-how-1.png", "title": "Выберите в каталоге мебель в подходящем вам цвете"}, {"imgPath": "img/ic-how-2.png", "title": "Оформить заказ"}, {"imgPath": "img/ic-how-3.png", "title": "Оплатить заказ Вы можете прямо на сайте или позже при доставке"}, {"imgPath": "img/ic-how-4.png", "title": "Наш менеджер свяжеться с Вами для согласования удобного времени доставки и сборки"}, {"imgPath": "img/ic-how-5.png", "title": "Далее вам доступен гарантийный и пост гарантийный сервис"}];
				each item in how
					.how__col
						.how__item
							.how__ic
								img.img(src=item.imgPath, alt="alt")
							.how__txt= item.title


			// /.how__row

		// /.how__inner

	// /.container
// /.how