link#woof_tooltip-css-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/tooltip/css/tooltipster.bundle.min.css?ver=1.2.4', media='all')
link#woof_tooltip-css-noir-css(rel='stylesheet', href='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/tooltip/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-noir.min.css?ver=1.2.4', media='all')

script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.js?ver=2.70')


if page == 'product'
	// Страница товара
	script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.js?ver=4.4.1')
	//- script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.js?ver=1.7.21')
	script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/flexslider/jquery.flexslider.js?ver=2.7.2')
	//- script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.js?ver=4.1.1')
	//- script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.js?ver=4.1.1')

	<script>var wc_single_product_params = {"i18n_required_rating_text":"\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u043f\u043e\u0441\u0442\u0430\u0432\u044c\u0442\u0435 \u043e\u0446\u0435\u043d\u043a\u0443","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"1","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":"1"};</script>

	script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/single-product.js?ver=4.4.1')

	script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.js?ver=4.4.1')



script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.js?ver=4.4.1')

script(src='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/navigation.js?ver=2.6.0')

script(src='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/skip-link-focus-fix.js?ver=20130115')

script(src='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/vendor/pep.min.js?ver=0.4.3')

script(src='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/woocommerce/header-cart.js?ver=2.6.0')
script(src='http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/footer.js?ver=2.6.0')
script(src='http://wc.stepanweb.ru/wp-includes/js/wp-embed.js?ver=5.4.2')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/tooltip/js/tooltipster.bundle.min.js?ver=1.2.4')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/front.js?ver=1.2.4')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/radio.js?ver=1.2.4')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/checkbox.js?ver=1.2.4')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/select.js?ver=1.2.4')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/mselect.js?ver=1.2.4')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.jquery.min.js?ver=1.2.4')

script(src='http://wc.stepanweb.ru/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4')
script(src='http://wc.stepanweb.ru/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4')
script(src='http://wc.stepanweb.ru/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4')
script(src='http://wc.stepanweb.ru/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4')

script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.js?ver=4.4.1')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/accounting/accounting.js?ver=0.4.2')
script.
	var woocommerce_price_slider_params = {"currency_format_num_decimals":"0","currency_format_symbol":"&#8381;","currency_format_decimal_sep":",","currency_format_thousand_sep":"","currency_format":"%v%s"};
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/price-slider.js?ver=4.4.1')
script(src='http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/woof_sid.js?ver=1.2.4')


// Пользовательские скрипты

if fancybox == true
	// fancybox.js
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js", integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==", crossorigin="anonymous")
	
script(src="js/custom.js")